<p *ngIf="Result.length <= 0" class="no-data text-center">There are no records in dashboard</p>

<div >
  <mat-card  class="mat-elevation-z8">
    <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort >
	
	
	<ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button (click)="setCandidateID(row.resultId)"></mat-radio-button>
        </td>
      </ng-container>
	  
	   <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.employeeName}} </td>
      </ng-container>
	  
	  
	   <!-- Name Column -->
      <ng-container matColumnDef="jobRole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
        <td mat-cell *matCellDef="let row"> {{row.jobRole}} </td>
      </ng-container>
	  
	  <ng-container matColumnDef="userResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Score </th>
        <td   mat-cell *matCellDef="let row">
          <div *ngIf="row.userResult==='Pass'">
          <a style="color:rgb(0, 128, 43);" href="#assessmentModal"  (click)="getCandidateAssessmentDetails(row.canUserName,row.qNumber,row.employeeName,row.uScore,row.createdDate)" data-toggle="modal" >
            <b>{{row.onlineTestResult}}</b>
          </a>
          </div>
          <div *ngIf="row.userResult==='Fail'">
            <a style="color:red;" href="#assessmentModal" (click)="getCandidateAssessmentDetails(row.canUserName,row.qNumber,row.employeeName,row.uScore,row.createdDate)" data-toggle="modal" >
              <b>{{row.onlineTestResult}}</b>
            </a>
          </div>
          <div *ngIf="row.userResult=='Other'">
            <a [style.color]="row.color">{{row.onlineTestResult}}</a>
          </div>
        </td>
      </ng-container>

	  <ng-container matColumnDef="technicalInterviewResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tech Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.technicalInterviewResult}} </td>
      </ng-container>
	  
	  <ng-container matColumnDef="partnerInterviewResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.partnerInterviewResult}} </td>
      </ng-container>
	  
	  <ng-container matColumnDef="assignedToProject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To Project</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.assignedToProject}}</td>
    </ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
</table>

<mat-paginator *ngIf="Result.length > 0" [length]="this.Result.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>

</mat-card-content>
</mat-card>
</div>
<br/>
  <div  class="float-right text-right"  *ngIf="Result.length > 0">
    <span>
    <button mat-raised-button color="primary" (click)="viewDetails()" data-toggle="modal" data-target="#candidateModal">View Details</button>
    </span>
    
  </div>
  <br/> <br/>



<!-- Modal window to view candidate details-->
<!-- Modal -->
<div id="candidateModal" class="modal fade" role="dialog" *ngIf="mode=='displayModalBody'">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>View Candidate Details</b></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <mat-card class="mat-elevation-z8">
          <mat-card-content>
              <mat-card-title>Candidate Details</mat-card-title> 
            <table class="fixedTable">
              <tr>
                <td style="width:25%"><mat-label>Name:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].employeeName}}</td>
                <td style="width:25%"><mat-label>Email:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].email}}</td>
              </tr>
              <tr *ngIf="displayRegularUIFields">
                <td style="width:25%"><mat-label>Band:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].band}}</td>
                <td style="width:25%"><mat-label>Job Role:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].JRSS}}</td>
              </tr>
              <tr *ngIf="displayContractorUIFields">
                <td style="width:25%"><mat-label>Job Role:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].JRSS}}</td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
              </tr>
              <tr *ngIf="displayRegularUIFields">
                <td style="width:25%"><mat-label>Date of Joining:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].dateOfJoining.split('T')[0]}}</td>
                <td style="width:25%"><mat-label>Phone Number:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].phoneNumber}}</td>
              </tr>
              <tr *ngIf="displayContractorUIFields">
                <td style="width:25%"><mat-label>Date of Birth:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].dateOfJoining.split('T')[0]}}</td>
                <td style="width:25%"><mat-label>Phone Number:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].phoneNumber}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>Technology Stream:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].technologyStream}}</td>
                <td style="width:25%"><mat-label>Account:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].account}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>Employee Type:</mat-label></td>
                <td colspan="3" style="width:75%">{{this.dashboardDetails[0].result_users[0].employeeType}}</td>
              </tr>  
            </table>
            </mat-card-content>
           </mat-card>
           
           <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <mat-card-title>Online Test Details</mat-card-title> 
            <table class="fixedTable">
              <tr>
                <td style="width:25%"><mat-label>Online Test Result:</mat-label></td>
                <td style="width:25%">
                  <div  *ngIf="this.dashboardDetails[0].userScore!=null">
                    {{this.dashboardDetails[0].userScore}}%
                  </div>
                  <div *ngIf="this.dashboardDetails[0].userScore==null">
                    N/A
                  </div>
                </td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>

       
        <div  *ngIf="displayTechInterview" >
          <mat-card class="mat-elevation-z8">
            <mat-card-title>Technical Interview Details</mat-card-title> 
            <mat-card-content>
            <table class="fixedTable">
              <tr>
                <td  style="width:25%"><mat-label>Technical Interview Score:</mat-label></td>
                <td  style="width:25%">
                  <div  *ngIf="this.dashboardDetails[0].avgTechScore!=null">
                    {{this.dashboardDetails[0].avgTechScore}}/10
                  </div>
                  <div  *ngIf="this.dashboardDetails[0].avgTechScore==null">
                    N/A
                  </div>
                </td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>SME Result:</mat-label></td>
                <td colspan="3" style="width:75%">{{this.dashboardDetails[0].smeResult}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>SME Feedback:</mat-label></td>
                <td colspan="3" style="width:75%" class="wrappable">{{this.dashboardDetails[0].smeFeedback}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        </div>

        <div *ngIf="displayPartnerInterview">

          <mat-card class="mat-elevation-z8">
            <mat-card-title>Partner Interview Details</mat-card-title> 
            <mat-card-content>

            <table class="fixedTable">
              <tr>
                <td style="width:25%"><mat-label>Partner Result:</mat-label></td>
                <td colspan="3" style="width:75%">{{this.dashboardDetails[0].managementResult}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>Partner FeedBack:</mat-label></td>
                <td colspan="3" style="width:75%" class="wrappable">{{this.dashboardDetails[0].managementFeedback}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        </div>

        <div *ngIf="displayProjectAssign">

          <mat-card class="mat-elevation-z8" >
            <mat-card-title>Project Assignment Details</mat-card-title> 
            <mat-card-content>
            <table class="fixedTable">
              <tr>
                <td style="width:25%"><mat-label>Location:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_projectAlloc[0].location}}</td>
                <td style="width:25%"><mat-label>Position:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_projectAlloc[0].position}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>Open Position Name:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].openPositionName}}</td>
                <td style="width:25%"><mat-label>Open Position ID:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_users[0].positionID}}</td>
              </tr>
              <tr *ngIf="this.dashboardDetails[0].result_projectAlloc[0].clientProject != ''">
                <td style="width:25%"><mat-label>Client:</mat-label></td>
                <td style="width:25%">{{this.dashboardDetails[0].result_projectAlloc[0].clientProject}}</td>
              </tr>
              <tr>
                <td style="width:25%"><mat-label>Comments:</mat-label></td>
                <td style="width:75%" colspan="3">{{this.dashboardDetails[0].result_projectAlloc[0].comments}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        </div>

      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
   </div>
   </div>
</div>


<!-- Below Candidate Assessment Details added by A.George on 22June2020.-->

<!-- Modal Code starts. -->
<div id="assessmentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
        <h4 class="modal-title">Candidate Assessment Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayAssessmentModalBody'">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            
        <table style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <td scope="col" width="10%"><b>{{this.userName}}'s answers</b></td>
            <td scope="col" width="10%"><b>Attempt No : {{this.quizNumber}}</b></td>
            <td scope="col" width="10%"><b> Date : {{ this.assesmentDate.substring(0,10) }}</b></td>
            <td scope="col" width="10%"> <b>Score : {{ this.userScore }}%</b></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="4" scope="col" style="color:black;font-style: italic;">
              You have correctly answered {{this.correctAnswerCount}} questions out of  {{this.questionCount}}
            </td>
          </tr>
          </tbody>
        </table>
          </mat-card-content>
        </mat-card>
        <br/>
      <div *ngFor="let answer of this.candidateAssessmentDetails.results;let i=index">
        <div *ngFor="let questions of answer.userAttemptedQs" >
          <mat-card>
            <mat-card-content>
          <table  style="table-layout: fixed; width: 100%">
            <tbody>
            <tr>
              <td width="2%">
                <div  *ngIf="answer.userAnswerID==questions.answerID">
                  <img src="assets/images/success.jpg" width="20" height="20"/>
                </div>
                <div  *ngIf="answer.userAnswerID!= questions.answerID">
                  <img src="assets/images/failure.jpg" width="20" height="20"/>
                </div>
              </td><td><b>{{i+1}}){{questions.question}}?</b></td>
            </tr>
            <tr></tr>
            <tr  *ngFor="let questionOption of questions.options;let k=index">
              <td  width="2%"></td>
              <td>{{k+1}}){{questionOption.option}} </td>
            </tr>
            <tr><td  width="2%"></td>
              <td style="color:black"><pre>Candidate Answer: {{answer.userAnswerID}}    Correct Answer:  {{questions.answerID}}
                  </pre> </td></tr>
            <tr></tr>
            </tbody>
          </table>

          </mat-card-content>
          </mat-card>
        </div>
      </div>
      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Code Ends.-->
