<app-navigation></app-navigation>
<br/>
  <div class="float-left text-left">
    <h4 class="my-0 mr-md-auto font-weight-normal">Add Bulk Questions</h4></div>
  <br/><br>

<!-- form Test Config -->
<mat-card class="login-card">
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <form [formGroup]="questionForm">
      <table class="open-full-width" cellspacing="0">        
        <tr>                    
          <td width="55%">  
            <!-- Account -->                           
            <mat-form-field class="open-full-width">
              <mat-select multiple placeholder="Account" formControlName="accountName" id="account" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.accountName.errors }" >
                <!-- <mat-option disabled value="">Choose...</mat-option> -->
                <mat-option *ngFor="let account of accounts" value="{{account}}" (nSselectionChange)="updateAccountProfile($event)">{{account}}
                </mat-option>
              </mat-select>
              <div *ngIf="!formReset && submitted && myForm.accountName.errors" class="invalid-feedback" >
                <div *ngIf="myForm.accountName.errors.required">Account is required</div>
              </div>
            </mat-form-field>
          </td>  
          <td width="70%">
            <!-- Technology Stream -->
            <mat-form-field class="stream-full-width">
              <mat-select placeholder="Technology Stream"  (selectionChange)="updateTechnologyStream($event.value)"
                  formControlName="technologyStream" required id="inputTechnologyStream" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.technologyStream.errors }" >
                  <mat-option value="">Choose...</mat-option>
                  <mat-option *ngFor="let data of technologyStream" value="{{data.technologyStream}}">{{data.technologyStream}}</mat-option>
              </mat-select>
              <div *ngIf="!formReset && submitted && myForm.technologyStream.errors" class="invalid-feedback" >
                <div *ngIf="myForm.technologyStream.errors.required">Technology Stream is required</div>
              </div>
            </mat-form-field>
          </td> 
        </tr>
        
        <br>
        <!-- Bulk Upload template -->
        <div class="float-left text-left">
            <p style="color:blue;" (click)="bulkUploadTemplate()"><span style="cursor:pointer"><u>Bulk Upload Template</u></span></p>
        <p><b>Instructions to update Bulk Upload Template:</b></p>
        <p>1)Values for <b>QuestionType</b> are SingleSelect,MultiSelect.</p>
        <p>2)Values for <b>Complexity</b> are Simple,Medium,Complex.</p>   
      </div>
        <br>

        <!-- Upload Bulk Questions File -->
        <tr>
          <td>
            <div class="float-left text-left">
              <label for="inputTechnologyStream" >Upload Bulk Questions File</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="file" id="fileName" (change)="addfile($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" size="50">
            </div>
          </td>   
        </tr>
        <br/>
        <div>
            <p><b>{{ bulkUploadQuestions }} out of {{ totalBulkQuestions }} questions uploaded</b></p>
        </div>

      </table>
    </form>
  </mat-card-content>

    <mat-card-actions>
      <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="bulkUploadFile()">Upload File</button>
        <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
        <button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
      </div>
    </mat-card-actions>
</mat-card>
