<div>
  <font color="black" size="+2">
    <div class="form-group row">
      <div class="col-sm-10"><b>Initiate Technical SME Interview </b></div>
      <div class="col-sm-2"><a class="nav-link" routerLink="/login-component"  routerLinkActive="active">Logout</a></div>
    </div>
  </font>
  <br/>
  <div class="col-sm-6"><i><b><font style="font-size:12px">View Candidate Details</font></b></i></div>
  <div class="card" *ngFor="let result of candidateInterviewDetails">
    <table>
      <tbody>
      <tr>
        <td  width="25%"><label style="color: mediumpurple">Name:</label></td>
        <td  width="25%">{{result.result_users[0].employeeName}}</td>
        <td  width="25%"><label style="color: mediumpurple">JRSS:</label></td>
        <td  width="25%">{{result.result_users[0].JRSS}}</td>
      </tr>
      <tr>
        <td  width="25%"><label style="color: mediumpurple">Technology Stream:</label></td>
        <td  width="25%">{{result.result_users[0].technologyStream}}</td>
        <td  width="25%"><label style="color: mediumpurple">Online Assessment Score:</label></td>
        <td  width="25%">{{result.userScore}}%</td>
      </tr>
      <tr>
        <td  width="25%"><label style="color: mediumpurple">You can download CV here:</label></td>
        <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
        <td  width="25%"><label style="color: mediumpurple">You can access the Pre-Technical-Interview form here:</label></td>
        <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<!-- Dynamic Form Table -->
  <div class="card">
    <form [formGroup]="techskillForm" (ngSubmit)="onSubmit()">
      <table  formArrayName="techStream">
        <tr>
          <td colspan="4" width="100%" ><label style="color: mediumpurple;font-style:italic;"><B>Select Technical Area For Assessment:</B></label></td>
        </tr>
        <br/>
        <tr>
          <td  width="25%" ><label style="color: mediumpurple"><b>Technology Stream</b></label></td>
          <td  width="25%"><label style="color: mediumpurple"><b>Score:</b></label><b><font style="font-size:10px">(1-10)</font></b></td>
          <td  width="25%"></td>
          <td  width="25%"></td>
        </tr>

        <tr *ngFor="let dynamic of dynamicArray; let i = index;" [formGroupName]="i">
          <td  width="25%">
              <select class="form-control" formControlName="technologyStream" (change)="changeSelectTechStream(i)" [ngModel]="dynamic[i].value"> <!--[ngModel]="dynamic[i].value"-->
                <ng-container *ngFor="let ts of dynamic;" >
                    <option *ngIf="!this.selectedTechStream.includes(ts.value) || this.selectedTechStream[i]==ts.value" [value]="ts.value" [ngValue]="ts.value"> <!--[ngValue]="ts.value"-->
                      {{ts.value}}
                    </option>
                </ng-container>
              </select>
          </td>
          <td width="25%">
              <input type="text" size="5" formControlName="score" class="form-control" (change)="averageCalc($event.target.value)" (keypress)="isNumber($event,i)">
              <!-- [ngClass]="{ 'is-invalid': submitted && myForm.finalscore.errors}"
              <div *ngIf="submitted && myForm.score.errors" class="invalid-feedback">
                <div *ngIf="myForm.score.errors.required">Score is required.Value between 1 & 10</div>
              </div> -->
            </td>
          <td colspan="2"  width="50%" *ngIf="dynamicArray.length == i+1">
            &nbsp;&nbsp;
            <a> <img src="assets/images/add.jpg" width="25" height="25" (click)="addTechStream(i)"> </a>
            <!-- <button type="button" (click)="addQuantity(i)" class="btn btn-secondary">Add</button> -->
           &nbsp;&nbsp;
           <a> <img src="assets/images/remove.jpg" width="25" height="25" (click)="removeTechStream(i)"> </a>
            <!-- <button (click)="removeQuantity(i)" class="btn btn-secondary">Remove</button> -->
          </td>
        </tr>
      </table>
<br>
      <table style="table-layout: fixed" >
        <tr>
          <td  width="100%" colspan="4"><label style="color: mediumpurple"><B>Calculate Final Score:</B></label></td>
        </tr>
        <br/>
        <tr>
          <td><label style="color: mediumpurple">Final Score</label></td>
          <td><input class="form-control" formControlName="finalscore" size="10" type="text" value={{this.averageScore}}  [ngClass]="{ 'is-invalid': submitted && myForm.finalscore.errors}" disabled>
            <!-- [ngClass]="{ 'is-invalid': submitted && myForm.finalscore.errors}" -->
             <div *ngIf="submitted && myForm.finalscore.errors" class="invalid-feedback">
              <div *ngIf="myForm.finalscore.errors.required">Final Score should be greather than 0.</div>
            </div>
          </td>
          <td><label style="color: mediumpurple">Final Result</label></td>
          <td>
             <select formControlName="finalResult" class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm.finalResult.errors }">
              <option value="">Choose...</option>
              <option id="Strongly Recommended">Strongly Recommended</option>
              <option id="Recommended">Recommended</option>
              <option id="Not Suitable">Not Suitable</option>
              <option id="StandBy">StandBy</option>
             </select>
             <div *ngIf="submitted && myForm.finalResult.errors" class="invalid-feedback">
              <div *ngIf="myForm.finalResult.errors.required">Final Result is required</div>
            </div>
            </td>
        </tr>
        <!--        <tr>
          <td><label style="color: mediumpurple">Technical SME Name</label></td>
          <td><input type="text" class="form-control" formControlName="smeName" size="10" [ngClass]="{ 'is-invalid': submitted && myForm.smeName.errors}"/>
            <div *ngIf="submitted && myForm.smeName.errors" class="invalid-feedback">
              <div *ngIf="myForm.smeName.errors.required">Name is required</div>
            </div>
          </td>
          <td></td>
          <td>
          </td>
        </tr>
        -->

        <br/>
        <tr>
          <td><label style="color: mediumpurple">Technical Feedback</label><br><b><i><font style="font-size:10px">(max 3000 characters)</font></i></b></td>
          <td colspan="3">
            <textarea class="form-control" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="feedback" [ngClass]="{ 'is-invalid': submitted && myForm.feedback.errors}"></textarea>
            <div *ngIf="submitted && myForm.feedback.errors" class="invalid-feedback">
              <div *ngIf="myForm.feedback.errors.required">Feedback is required</div>
            </div>
          </td>
        </tr>
        <br/>
        <tr>
          <td></td>
          <td colspan="3" class="text-center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button size="8" type="submit"class="btn btn-secondary" >Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button size="8" type="reset" (click)="resetForm()" class="btn btn-secondary">Clear</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button size="8"  type="button" (click)="cancelForm()" class="btn btn-secondary">Cancel</button>
          </td>

            </tr>
      </table>

  <!-- {{this.techskillForm.value | json}} -->

  </form>
  </div>
