<p style="text-align:right; font-family: cursive; font-size: 120%;"><b>Welcome, {{name}}!!</b></p>
<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="#" routerLinkActive="active">Initiate Technical Interview</a>
    <span class="flexExpand">
    <a  mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div>
  <div class="card">
    <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">View Candidate Details</div>
    <div class="card-body">
      <mat-card class="login-card">
        <mat-card-content>
          <table class="fixedTable">
            <tr>
              <td style="width:25%"><mat-label>Name:</mat-label></td>
              <td style="width:25%">{{this.candidateInterviewDetails[0].result_users[0].employeeName}}</td>
              <td style="width:25%"><mat-label>Job Role:</mat-label></td>
              <td style="width:25%">{{this.candidateInterviewDetails[0].result_users[0].JRSS}}</td>
            </tr>
            <tr>
              <td style="width:25%"><mat-label>Technology Stream:</mat-label></td>
              <td style="width:25%">{{this.candidateInterviewDetails[0].result_users[0].technologyStream}}</td>
              <td style="width:25%"><mat-label>Online Assessment Score:</mat-label></td>
              <td style="width:25%">
                <div *ngIf="this.candidateInterviewDetails[0].userScore!=null">
                {{this.candidateInterviewDetails[0].userScore}}%
                </div>
                <div  *ngIf="this.candidateInterviewDetails[0].userScore==null">
                  N/A
                </div>
              </td>
            </tr>
            <tr>
              <td style="width:25%"><mat-label>Download CV:</mat-label></td>
              <td style="width:25%">
                <a href="#" (click)="downloadCandidateResume(this.candidateInterviewDetails[0].userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
              <td style="width:25%"><mat-label>Pre Interview Form:</mat-label></td>
              <td style="width:25%">
                <div  *ngIf="this.candidateInterviewDetails[0].stage2_status=='Skipped'">
                  <a href="#" (click)="skipMethod()" routerLinkActive="active" data-toggle="modal">Click here</a>
                </div>
                <div *ngIf="this.candidateInterviewDetails[0].stage2_status=='Completed'">
                <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.candidateInterviewDetails[0].result_users[0].JRSS, 
                this.candidateInterviewDetails[0].userName,this.candidateInterviewDetails[0].result_users[0].account
                ]" [state]="{jrss:this.candidateInterviewDetails[0].result_users[0].JRSS,quizId:this.candidateInterviewDetails[0].quizNumber,username:this.candidateInterviewDetails[0].result_users[0].username,access:'tech-interview-initiate',account:this.account,accessLevel:this.accessLevel}">
                Click here
                </a>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width:25%"><mat-label>Account:</mat-label></td>
              <td style="width:25%">{{this.candidateInterviewDetails[0].result_users[0].account}}</td>
              <td style="width:25%"><mat-label>Employee Type:</mat-label></td>
              <td style="width:25%">{{this.candidateInterviewDetails[0].result_users[0].employeeType}}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<br>
<!-- Dynamic Form Table -->
<div class="card">
  <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">Please enter feedback here</div>
  <div class="card-body">
    <form [formGroup]="techskillForm" (ngSubmit)="onSubmit()">
      <mat-card class="login-card">
        <mat-card-content>
         
            <mat-label><B>Select Technical Area For Assessment:</B></mat-label>
            <br>
              <table  formArrayName="techStream" class="fixedTable" >
                <div *ngFor="let dynamic of dynamicArray; let i = index;" [formGroupName]="i">
            <tr style="margin-top: 10%;">
              <td style="width:25%">
                <mat-form-field class="open-full-width" >
                  <mat-label>Technology Stream</mat-label>
                  <mat-select placeholder="Technology Stream" formControlName="technologyStream" (selectionChange)="changeSelectTechStream(i)" >
                    <ng-container *ngFor="let ts of dynamic;" >
                      <mat-option *ngIf="!this.selectedTechStream.includes(ts.value) || this.selectedTechStream[i]==ts.value" value="{{ts.value}}"> <!--[ngValue]="ts.value"-->
                        {{ts.value}}
                      </mat-option>
                    </ng-container>
                    
                  </mat-select>
                </mat-form-field>
                
              </td>
              <td style="width:25%">
                <mat-form-field class="open-full-width" >
                  <input matInput placeholder="Score(1-10)" type="text" formControlName="score" (blur)="averageCalc($event.value)" (keypress)="isNumber($event,i)" id="score" >
                </mat-form-field>
              </td>
              
              <td  colspan="2" style="width:50%" *ngIf="dynamicArray.length == i+1">
                &nbsp;&nbsp;
                <a> <img src="assets/images/add.jpg" width="25" height="25" (click)="addTechStream(i)"> </a>
                &nbsp;&nbsp;
                <a> <img src="assets/images/remove.jpg" width="25" height="25" (click)="removeTechStream(i)"> </a>
              </td>
              <!-- The below td is placed just to reslove alignment issues-->
              <td  colspan="2" style="width:50%" *ngIf="dynamicArray.length != i+1">
                &nbsp;&nbsp;
              </td>
              
            </tr>
              
            <tr *ngIf="this.errorIdx[i]=='ERROR'  && !this.techskillForm.controls.techStream.valid" style="margin-top: 0%;" >
              <td colspan="2" style="font-size: 12px;  width:50%; color:#dc3545" >
                   {{this.errorMsg[i]}}
               </td> 
              
              
             </tr>
             
          
            </div>
           
          </table>
         
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="login-card">
        <mat-card-content>
          <table>
            <tr>
              <td  style="width:100%" colspan="2"><mat-label><B>Calculate Final Score:</B></mat-label></td>
            </tr>

            <tr>
              <td style="width:50%">
                <mat-form-field class="open-full-width">
                <input matInput placeholder="Final Score" formControlName="finalscore" size="5" type="text" value={{this.averageScore}}  [ngClass]="{ 'is-invalid': submitted && myForm.finalscore.errors}" >
                <div *ngIf="submitted && myForm.finalscore.errors" class="invalid-feedback">
                  <div *ngIf="myForm.finalscore.errors.required">Final Score should be greather than 0.</div>
                </div>
                </mat-form-field>
              </td>
              <td style="width:50%">
                <mat-form-field class="open-full-width">
                <mat-select placeholder="Final Result" formControlName="finalResult" [ngClass]="{ 'is-invalid': submitted && myForm.finalResult.errors }">
                  <mat-option value="">Choose...</mat-option>
                  <mat-option value="Strongly Recommended">Strongly Recommended</mat-option>
                  <mat-option value="Recommended">Recommended</mat-option>
                  <mat-option value="Not Suitable">Not Suitable</mat-option>
                  <mat-option value="StandBy">StandBy</mat-option>
                </mat-select>
                <div *ngIf="submitted && myForm.finalResult.errors" class="invalid-feedback">
                  <div *ngIf="myForm.finalResult.errors.required">Final Result is required</div>
                </div>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td colspan="2" style="width:100%">
                <mat-form-field class="open-full-width">
                 <textarea  matInput placeholder="Technical Feedback(Max 3000 characters)" [rows]="5" [cols]="50" formControlName="feedback" [maxLength]="3000" [ngClass]="{ 'is-invalid': submitted && myForm.feedback.errors}"></textarea>
                <div *ngIf="submitted && myForm.feedback.errors" class="invalid-feedback">
                  <div *ngIf="myForm.feedback.errors.required">Feedback is required</div>
                </div>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
      <br/>
      <div class="text-center" style="width: 1000px">
        <span>
        <button mat-raised-button  color="primary" type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
        <span (click)="resetForm()">
        <button mat-raised-button  color="primary" type="reset">Clear</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
        <span (click)="cancelForm()">
        <button mat-raised-button color="primary" type="button">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
        <span (click)="exceptionalApproval(this.candidateInterviewDetails[0].userName,this.candidateInterviewDetails[0].quizNumber)">
        <button mat-raised-button color="primary" type="button">Exceptional Approval</button>
      </span>
      </div>
      <!-- {{this.techskillForm.value | json}} -->
    </form>
  </div>
</div>
