<app-navigation></app-navigation>
<br/>
<div>
  <h4 class="my-0 mr-md-auto font-weight-normal">Add Job Role</h4>
  <br/>
</div>
      <!-- form add jrss -->
<mat-card class="login-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
        <form [formGroup]="jrssForm">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Job Role" formControlName="jrss" name="jrss" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.jrss.errors }">
                <div *ngIf="!formReset && submitted && myForm.jrss.errors" class="invalid-feedback">
                  <div *ngIf="myForm.jrss.errors.required">Job Role is required</div>
                </div>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
  </mat-card-content>
  <br/>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      <button mat-raised-button color="primary" (click)="clearForm()">Clear</button>
    </div>
  </mat-card-actions>
  </mat-card>

  <br/>
  <h4 class="my-0 mr-md-auto font-weight-normal">Job Role List</h4>
  <br/>
    <!-- No data message -->
    <p *ngIf="Jrss.length <= 0" class="no-data text-center">There is no Job Role added yet!</p>
  
    <!-- JRSS list -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let row;let i = index"> {{i+1}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="jrss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row"> {{row.jrss}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
  </table>
  <mat-paginator [length]="this.Jrss.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>


  
  
