<app-navigation></app-navigation>
<br/>
<div>
	<h4 class="my-0 mr-md-auto font-weight-normal">Mapping Technology Stream to Job Role</h4>
	<br/>
</div>
<!-- form Test Config -->
<mat-card class="login-card">
	<mat-card-header>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="streamCreateForm" (ngSubmit)="onSubmit()">
		  <table class="example-full-width">
		  	<tr>

				<td>
					<mat-form-field class="stream-half-width">
					  <mat-select  placeholder="Account"  formControlName="account" id="account" 
					  			(selectionChange)="readJrssByAccount($event.value)"
								  [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.account.errors }">
						<mat-option disabled value="">Choose...</mat-option>
						<mat-option *ngFor="let account of accounts" value="{{account}}" >{{account}}
						</mat-option>
					  </mat-select>
					  <div *ngIf="!formReset && submitted && myForm.account.errors" class="invalid-feedback">
						<div *ngIf="myForm.account.errors.required">Account is required</div>
					  </div>
					</mat-form-field>
				  </td>

				<td> 
					<!-- Job Role -->			
					<mat-form-field class="stream-full-width">					
						<mat-select placeholder="Job Role" formControlName="JRSS" id="jrss" (selectionChange)="updateJrssProfile($event.value)" [ngClass]="{ 'is-invalid': submitted && myForm.JRSS.errors }">							
						<mat-option *ngFor="let jrss of filteredJRSS" value="{{jrss.jrss}}">{{jrss.jrss}}</mat-option>
						</mat-select>
						<div *ngIf="displayMessage" style="color:red"> Select Account first </div>
						<div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback">
						<div *ngIf="myForm.JRSS.errors.required">Job Role is required</div>
						</div>
					</mat-form-field>
				</td>

			</tr>
			<tr>

	  			<td>
					<!-- New Technology Stream To Be Mapped -->
					<mat-form-field class="stream-half-width">
						<mat-select placeholder="New Technology Stream To Be Mapped" formControlName="technologyStream" (selectionChange)="updateStreamProfile($event.value)" [ngClass]="{ 'is-invalid': submitted && myForm.technologyStream.errors }">
							<mat-option *ngFor="let stream of techStreamCollection" value="{{stream.technologyStream}}">{{stream.technologyStream}}</mat-option>
						</mat-select>
						<div *ngIf="submitted && myForm.technologyStream.errors" class="invalid-feedback">
						<div *ngIf="myForm.technologyStream.errors.required">Technology Stream is required</div>
						</div>
					</mat-form-field>
				</td>
				<td>			
					<!-- Existing Technology Stream Mapped -->
					<mat-form-field class="stream-full-width">
						<mat-select placeholder="Existing Technology Stream Mapped" formControlName="existingTechnologyStream" id="technologyStream">
							<mat-option *ngFor="let data of existingTechnologyStream" [value]="data">{{data.value}}</mat-option>
					</mat-select>
					</mat-form-field>
				</td>
			</tr>
			<br/>
				<tr>
				<td>
					<!-- Add New Technology Stream (If not available) -->
					<label>Add New Technology Stream (If not available)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<a class="edit" [routerLink]="['/stream-add']" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}">
							<td>Click here</td>
						 </a>					
				</td>
				</tr>
			
	   </table> 
	</form>
	</mat-card-content>
	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
	<mat-card-actions>
	 <div class="row justify-content-center">
		<button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
		<button mat-raised-button color="primary" (click)="clearForm()">Clear</button>
	 </div>
   </mat-card-actions>
</mat-card>
		<br/>
		<br/>
		<div>
			<h4 class="my-0 mr-md-auto font-weight-normal">Technology Stream List</h4><br/>
		</div>
	<!-- No data found message -->
	<p *ngIf="JRSS.length <= 0" class="no-data text-center">There is no Technology Stream List added yet!</p>
		<!-- Technology Stream list -->  
<div class="mat-elevation-z8" *ngIf="this.accounts.length <= 1">
	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
	<ng-container matColumnDef="Action">
		<th mat-header-cell *matHeaderCellDef> Select </th>
			<td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row[0],row[1])"></mat-radio-button></td>
    </ng-container>
   <!-- ID Column -->
    <ng-container matColumnDef="jrss">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
		<td mat-cell *matCellDef="let row">{{row[1]}}</td>
	  </ng-container>
	  <!-- ID Column -->
	  <ng-container matColumnDef="technologyStream">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Technology Stream </th>
		<td mat-cell *matCellDef="let row">{{row[2]}}</td>
	  </ng-container>
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
	   </table>
	   <mat-paginator [length]="this.dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
	</div>

	<div class="mat-elevation-z8" *ngIf="this.accounts.length > 1">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
		<!-- ID Column -->
		<ng-container matColumnDef="Action">
			<th mat-header-cell *matHeaderCellDef> Select </th>
				<td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row[0],row[1])"></mat-radio-button></td>
		</ng-container>
	   <!-- ID Column -->
		<ng-container matColumnDef="jrss">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
			<td mat-cell *matCellDef="let row">{{row[1]}}</td>
		  </ng-container>
		  <!-- ID Column -->
		  <ng-container matColumnDef="technologyStream">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Technology Stream </th>
			<td mat-cell *matCellDef="let row">{{row[2]}}</td>
		  </ng-container>
	
		  <ng-container matColumnDef="account">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
			<td mat-cell *matCellDef="let row">{{row[3]}}</td>
		  </ng-container>
	
		  <tr mat-header-row *matHeaderRowDef="displayedColumnsWithAccount"></tr>
		<tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsWithAccount;" [ngClass]="{gray: even}"></tr>
		   </table>
		   <mat-paginator [length]="this.dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
		</div>

	<br/>
	   <div  class="float-right text-right" *ngIf="this.dataSource.data.length > 0">
		  <span class="edit" (click)="deleteTechStream()">
			  <button mat-raised-button color="primary">Delete</button>&nbsp;
		  </span>
		</div>		 