
<nav class="navbar navbar-expand-lg navbar-light table-success" style="background-color:powderblue">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"><b>Pre Technical Interview Form</b></a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active"><b>Logout</b></a>
      </li>
    </ul>
  </div>
</nav>
 
<div *ngFor="let preTechQAndA of preTechQuesAndAns;let i=index">
  <table>
    <tbody>
      <tr>
        <td width="25%"><b>{{i+1}}.&nbsp;{{preTechQAndA.preTechQuestion}}</b></td>   
      </tr>
      <tr>
        <td width="25%">&nbsp;&nbsp;{{preTechQAndA.answer}}</td>
      </tr>
      </tbody>
  </table>
</div>

 <div class="text-center" style="width: 1000px">
      <span (click)="close()">
        <button type="button" style="background-color:#0043CE;" class="btn btn-primary">Close</button>&nbsp;
      </span>
  </div>
  


