
<full-calendar [options]="calendarOptions"   ></full-calendar>


<div id="eventDetails" class="modal fade" tabindex="-1"  data-keyboard="false" data-backdrop="static"  role="dialog">
    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Interview </h4>
          <button type="button" class="Close"  
          (click)="closeEditModal()" aria-label="Close" ><span> &times; </span></button>
        </div>
        <div class="modal-body form-group">
          
          <div>Event Title :{{this.event_title}}  </div>
          <br/>
          <div>Date :{{startDate}}  </div>
          <br/>
          <div>Start Time :
            <input type="text" class="form-control" [disabled]="edit" [(ngModel)]="start_time" >
          </div>

          <div>End Time :
            <input type="text" class="form-control" [disabled]="edit" [(ngModel)]="end_time"> </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised"       
          (click)="closeEditModal()" >Close</button>
        <!--  <button *ngIf="edit" type="button" class="btn btn-danger btn-raised">Delete</button> -->
        
          <button *ngIf="!edit" type="button" class="btn btn-primary btn-raised" (click)="updateEvent()">Save</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div id="eventCreate"  class="modal"  role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Schedule Interview</h4>
          <button type="button" class="Close"  aria-label="Close"  (click)="closeCreateModal()" ><span> &times; </span></button>
          
        </div>
        <div class="modal-body form-group">
          
          <div>Event Title :
            <input type="text" name="event_title" class="form-control"  [(ngModel)]= "event_title">
          </div>

          <div>Date :
            <input type="text" name="event_date" class="form-control"   disabled [(ngModel)]="event_date">
          </div>
          <div>Start Time :
            <input type="time" name="start_time" class="form-control" [(ngModel)]="start_time">
  
          </div>
          <div>End Time :
            <input type="time" name="end_time" class="form-control" [(ngModel)]="end_time">
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised" (click)="closeCreateModal()">Cancel</button>
          <button type="button" class="btn btn-primary btn-raised" (click)="addNewEvent()">Save</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
