
<full-calendar [options]="calendarOptions"  ></full-calendar>


<div id="eventDetails" class="modal fade" tabindex="-1"  data-keyboard="false" data-backdrop="static"  role="dialog">
    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Interview </h4>
          <button type="button" class="Close"  
          (click)="closeEditModal();this.eventEditForm.resetForm();" aria-label="Close" ><span> &times; </span></button>
        </div>

        <form #eventEditForm="ngForm"  name= "form"  (ngSubmit)="eventEditForm.form.valid && updateEvent(); ">

        
        <div class="modal-body form-group">
          
          <div>Event Title: {{this.event_title}}  </div>
          <br/>
          <div>Date: {{startDate}}  </div>
          <br/>
          <div>Start Time:
                       
            <select  placeholder="Time" style="width:auto; display:inline-block"  name="editStart_Time" class="form-control" [(ngModel)]="start_time"
            [ngClass]="{ 'is-invalid': eventEditForm.submitted &&  editStartTime.invalid }"   #editStartTime="ngModel" required >
               <option  *ngFor="let t of time" value="{{t}}"> {{t}} </option>
           </select>
           &nbsp;
           <select  placeholder="AMPM"  style="width:auto; display:inline-block" required name="editStart_AMPM" class="form-control" [(ngModel)]="start_AMPM"  
           [ngClass]="{ 'is-invalid': eventEditForm.submitted && editStart_AMPM.invalid }" #editStart_AMPM="ngModel" required >
             <option  *ngFor="let mer of meridian" value="{{mer}}"> {{mer}} </option>
          </select>

            <div *ngIf="eventEditForm.submitted && editStartTime.invalid" class="invalid-feedback">
              <div *ngIf="editStartTime.errors.required">Start time is required.</div>
            </div>
            <div *ngIf="eventEditForm.submitted && editStart_AMPM.invalid && editStartTime.valid" class="invalid-feedback">
              <div *ngIf="editStart_AMPM.errors.required">Please select AM or PM.</div>
            </div>

          </div>
        <br/>
          <div>End Time:&nbsp;
           <select  placeholder="Time" style="width:auto; display:inline-block"  name="editEnd_Time" class="form-control" [(ngModel)]="end_time"
            [ngClass]="{ 'is-invalid': eventEditForm.submitted &&  editEndTime.invalid }"   #editEndTime="ngModel" required>
               <option  *ngFor="let t of time" value="{{t}}"> {{t}} </option>
           </select>
            &nbsp;
            <select  placeholder="AMPM"  style="width:auto; display:inline-block" required name="editEnd_AMPM" class="form-control" [(ngModel)]="end_AMPM"  
            [ngClass]="{ 'is-invalid': eventEditForm.submitted &&  editEnd_AMPM.invalid }"  #editEnd_AMPM="ngModel" required >
              <option  *ngFor="let mer of meridian" value="{{mer}}"> {{mer}} </option>
           </select>

            <div *ngIf="eventEditForm.submitted && editEndTime.invalid" class="invalid-feedback">
              <div *ngIf="editEndTime.errors.required">End time is required.</div>
            </div>

            <div *ngIf="eventEditForm.submitted && editEnd_AMPM.invalid && editEndTime.valid" class="invalid-feedback">
              <div *ngIf="editEnd_AMPM.errors.required">Please select AM or PM.</div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-raised"       
          (click)="closeEditModal();this.eventEditForm.resetForm();"  >Close</button>
        
          <button *ngIf="!edit" type="submit" class="btn btn-primary btn-raised" >Save</button>
        </div>

      </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div id="eventCreate"  class="modal"  role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Schedule Interview</h4>
          <button type="button" class="Close"  aria-label="Close"  (click)="closeCreateModal();  this.eventForm.resetForm();" ><span> &times; </span></button>
          
        </div>

        <form #eventForm="ngForm"  name= "form"  (ngSubmit)="eventForm.form.valid && addNewEvent();  ">

        <div class="modal-body form-group" >
          
          <div>Event Title:
            <input type="text" name="event_title"  class="form-control"  [(ngModel)]= "event_title"
            [ngClass]="{ 'is-invalid': eventForm.submitted &&  title.invalid }"   #title="ngModel" required readonly>
            <div *ngIf="eventForm.submitted && title.invalid" class="invalid-feedback">
              <div *ngIf="title.errors.required">Meeting title is required.</div>
            </div>
          </div>

          <div>Date :
            <input type="text" required name="event_date" class="form-control"   disabled [(ngModel)]="event_date">
          </div>
          <br/>
          <div >Start Time:
          
             <select  placeholder="Time" style="width:auto; display:inline-block"  required name="start_time" class="form-control" [(ngModel)]="start_time"
             [ngClass]="{ 'is-invalid': eventForm.submitted &&  startTime.invalid }"   #startTime="ngModel" required >
                <option  *ngFor="let t of time" value="{{t}}"> {{t}} </option>
            </select>
            &nbsp;
            <select  placeholder="AMPM"  style="width:auto; display:inline-block" required name="start_AMPM1" class="form-control" [(ngModel)]="start_AMPM"  
            [ngClass]="{ 'is-invalid': eventForm.submitted &&  start_AMPM1.invalid }"  #start_AMPM1="ngModel" required >
              <option  *ngFor="let mer of meridian" value="{{mer}}"> {{mer}} </option>
           </select>
            <div *ngIf="eventForm.submitted && startTime.invalid" class="invalid-feedback">
              <div *ngIf="startTime.errors.required">Start time is required.</div>
            </div>

            <div *ngIf="eventForm.submitted && start_AMPM1.invalid && startTime.valid" class="invalid-feedback">
              <div *ngIf="start_AMPM1.errors.required">Please select AM or PM.</div>
            </div>

           
          </div>
         
         <br/>
          <div>End Time:&nbsp;

            <select  placeholder="Time" style="width:auto; display:inline-block"  required name="end_time" class="form-control" [(ngModel)]="end_time"
            [ngClass]="{ 'is-invalid': eventForm.submitted &&  endTime.invalid }"   #endTime="ngModel" required>
               <option  *ngFor="let t of time" value="{{t}}"> {{t}} </option>
           </select>
            &nbsp;
            <select  placeholder="AMPM"  style="width:auto; display:inline-block" required name="end_AMPM1" class="form-control" [(ngModel)]="end_AMPM"  
            [ngClass]="{ 'is-invalid': eventForm.submitted &&  end_AMPM1.invalid }" #end_AMPM1="ngModel" required >
              <option  *ngFor="let mer of meridian" value="{{mer}}"> {{mer}} </option>
           </select>
              <div *ngIf="eventForm.submitted && endTime.invalid" class="invalid-feedback">
              <div *ngIf="endTime.errors.required">End time is required.</div>
            </div>

            <div *ngIf="eventForm.submitted && end_AMPM1.invalid && endTime.valid" class="invalid-feedback">
              <div *ngIf="end_AMPM1.errors.required">Please select AM or PM.</div>
            </div>
          </div>
         

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-raised" (click)="closeCreateModal(); this.eventForm.resetForm(); ">Cancel</button>
          <button type="submit" class="btn btn-primary btn-raised" >Save</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
