<app-navigation></app-navigation>
<br/>
  <div class="float-left text-left">
    <h4 class="my-0 mr-md-auto font-weight-normal">View Questions</h4></div>
    <br/><br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Question list -->
        <!-- ID Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let row;let i=index"> <mat-radio-button (change)="onSelectionChange(row[0],i)"></mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Question">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
          <td mat-cell *matCellDef="let row"> {{row[1]}} </td>
        </ng-container>


        <ng-container matColumnDef="Option">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
          <td mat-cell *matCellDef="let row "> {{row[2]}} <br></td><br>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
     </table>
      <table>
        <tr *ngIf="!dataSource.data.length">
          <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
            No Records Found!
          </td>
        </tr>
      </table>
     <mat-paginator [length]="this.Questions.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
   </div>
   <br/>
   <div  class="float-right text-right" *ngIf="Questions.length > 0">
     <a class="edit" (click)="invokeEdit()">
       <button mat-raised-button color="primary">Edit</button>&nbsp;
     </a>
     <a class="edit" (click)="removeQuestion()">
      <button mat-raised-button color="primary">Delete</button>&nbsp;
    </a>

   </div>
