<mat-toolbar>
  <mat-toolbar-row>
    <a  mat-button  [matMenuTriggerFor]="users" routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Users</a>
    <mat-menu #users="matMenu">
      <a mat-menu-item routerLink="/create-candidate" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Candidate</a>
      <a mat-menu-item routerLink="/adminuser-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add User</a>
      <a mat-menu-item routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Candidate</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="questions" routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Questions</a>
    <mat-menu #questions="matMenu">
      <a mat-menu-item  routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Question</a>
      <a mat-menu-item  routerLink="/manage-questionbank-bulk" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Bulk Question</a>
      <a mat-menu-item  routerLink="/view-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active"> View Question</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="metadata" routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Metadata</a>
    <mat-menu #metadata="matMenu">
      <a mat-menu-item  routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Job Role</a>
      <a mat-menu-item  routerLink="/stream-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Technology Stream</a>
      <a mat-menu-item  routerLink="/testconfig-add" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Test Configuration</a>
    </mat-menu>
    <a  mat-button  routerLink="/workflow-config" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage WorkFlows</a>
    <a  mat-button  [matMenuTriggerFor]="openpositions" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage OpenSeats</a>
    <mat-menu #openpositions="matMenu">
      <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Open Seat</a>
      <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Open Seats</a>
    </mat-menu>
    <a  mat-button  routerLink="/view-testresults" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Test Results</a>
    <a  mat-button  routerLink="/login-component" routerLinkActive="active">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
  <div class="float-left text-left">
    <h4 class="my-0 mr-md-auto font-weight-normal">View Questions</h4></div>
    <br/><br>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="example-card-title">Search</mat-card-title>
  </mat-card-header>
<table>
  <tr>
    <td>
        <mat-form-field>
          <input matInput [(ngModel)]="accountFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'Account')" placeholder="Account">
        </mat-form-field>
    </td>
    <!-- <td>
      <mat-form-field>
        <input matInput [(ngModel)]="emailFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'username')" placeholder="Email">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput [(ngModel)]="bandFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'band')" placeholder="Band">
      </mat-form-field>
    </td>
    <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jrssFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'JRSS')" placeholder="Job Role">
        </mat-form-field>
    </td> -->
  </tr>
</table>
  <mat-card-actions>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" aria-label="Clear" (click)="clearFilters()">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
<br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Question list -->
        <!-- ID Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let row;let i=index"> <mat-radio-button (change)="onSelectionChange(row[0],row[2],i)"></mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Question">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
          <td mat-cell *matCellDef="let row"> {{row[1]}} </td>
        </ng-container>


        <ng-container matColumnDef="Account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
          <td mat-cell *matCellDef="let row "> {{row[2]}} <br></td><br>
        </ng-container>

        <ng-container matColumnDef="TechStream">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TechStream </th>
          <td mat-cell *matCellDef="let row "> {{row[3]}} <br></td><br>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
     </table>
      <table>
        <tr *ngIf="!dataSource.data.length">
          <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
            No Records Found!
          </td>
        </tr>
      </table>
     <mat-paginator [length]="this.Questions.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
   </div>
   <br/>
   <div  class="float-right text-right" *ngIf="Questions.length > 0">
     <a class="edit" (click)="invokeEdit()">
       <button mat-raised-button color="primary">Edit</button>&nbsp;
     </a>
     <a class="edit" (click)="removeQuestion()">
      <button mat-raised-button color="primary">Delete</button>&nbsp;
    </a>

   </div>
