<app-navigation></app-navigation>
<br/>
  <div class="float-left text-left">
    <h4 class="my-0 mr-md-auto font-weight-normal">View Questions</h4></div>
    <br/><br>

<mat-card class="login-card">
  <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Search</div>
<table>
  <tr>
    <td>
        <mat-form-field>
          <input matInput [(ngModel)]="accountFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'Account')" placeholder="Account">
        </mat-form-field>
    </td>
    <!-- <td>
      <mat-form-field>
        <input matInput [(ngModel)]="emailFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'username')" placeholder="Email">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput [(ngModel)]="bandFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'band')" placeholder="Band">
      </mat-form-field>
    </td>
    <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jrssFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'JRSS')" placeholder="Job Role">
        </mat-form-field>
    </td> -->
  </tr>
</table>
  <mat-card-actions>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" aria-label="Clear" (click)="clearFilters()">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
<br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Question list -->
        <!-- ID Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let row;let i=index"> <mat-radio-button (change)="onSelectionChange(row[0],row[2],i,row[4])"></mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Question">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
          <td mat-cell *matCellDef="let row"><a href="#myModal" (click)="viewQuestions(row[4])" data-toggle="modal" >{{row[1]}} </a></td>
       </ng-container>


        <ng-container matColumnDef="Account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
          <td mat-cell *matCellDef="let row "> {{row[2]}} <br></td><br>
        </ng-container>

        <ng-container matColumnDef="TechStream">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TechStream </th>
          <td mat-cell *matCellDef="let row "> {{row[3]}} <br></td><br>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
     </table>
      <table>
        <tr *ngIf="!dataSource.data.length">
          <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
            No Records Found!
          </td>
        </tr>
      </table>
     <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
   </div>
   <br/>
   <div  class="float-right text-right" *ngIf="Questions.length > 0">
    <a class="edit" (click)="invokeEdit()">
       <button mat-raised-button color="primary">Edit</button>&nbsp;
     </a>
     <a class="edit" (click)="removeQuestion()">
      <button mat-raised-button color="primary">Delete</button>&nbsp;
    </a>

   </div>
  
   <!-- code Start -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
        <h4 class="modal-title">View Question Details</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayModalBody'">
        <mat-card>
          <mat-card-content>
            <table class="fixedTable">
              <tr>
                <td><mat-label>Account:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].account}}</td>
                <td><mat-label>Technology Stream:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].technologyStream}}</td>
              </tr>
              <tr>
                <td><mat-label> Question Type:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].questionType}}</td>
                <td><mat-label>Complexity:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].complexityLevel}}</td>
              </tr>
              <tr>
                <td><mat-label>Question:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].question}}</td>
               </tr>
              <tr>
                <td><mat-label>Option 1:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].status}}</td>
              </tr>
              <tr>
                <td><mat-label>Option 2:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].quizNumber}}</td>
              </tr>
              <tr>
                <td><mat-label>Option 3:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].dateOfJoining.split('T')[0]}}</td>
              </tr>
              <tr>
                <td><mat-label>Option 4:</mat-label></td>
                <td>&nbsp;{{this.getQuestionDetails[0].employeeType}}</td>
              </tr>
              </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


