<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="#" routerLinkActive="active">Project Assignment</a>
    <span class="flexExpand">
      <a mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div class="card">
  <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">View Candidate Details</div>
  <div class="card-body">
    <mat-card class="login-card">
      <mat-card-content>
        <table striped="true">
          <tbody>
          <tr>
            <td><mat-label>Name:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].result_users[0].employeeName}}</td>
            <td><mat-label>Job Role:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].result_users[0].JRSS}}</td>
          </tr>
          <tr>
            <td><mat-label>Technology Stream:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].result_users[0].technologyStream}}</td>
            <td><mat-label>Online Test Result:</mat-label></td>
            <td *ngIf="this.operationsProjectDetails[0].userScore!=null">{{this.operationsProjectDetails[0].userScore}}%</td>
            <p *ngIf="this.operationsProjectDetails[0].userScore==null">N/A</p>
          </tr>
          <tr>
            <td><mat-label>Download CV:</mat-label></td>
            <td><a href="#" (click)="downloadCandidateResume(this.operationsProjectDetails[0].userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
            <td><mat-label>Pre Interview Form:</mat-label></td>
            <td>
              <div  *ngIf="this.operationsProjectDetails[0].stage2_status=='Skipped'">
                <a href="#" (click)="skipMethod()" routerLinkActive="active" data-toggle="modal">Click here</a>
              </div>
              <div *ngIf="this.operationsProjectDetails[0].stage2_status=='Completed'">
                <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.operationsProjectDetails[0].result_users[0].JRSS, this.operationsProjectDetails[0].userName]" [state]="{jrss:this.operationsProjectDetails[0].result_users[0].JRSS,username:this.operationsProjectDetails[0].result_users[0].username,access:'operation-interview-initiate',accessLevel:this.accessLevel,account:this.account}">
                Click here
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="displayTechInterviewFields">
            <td><mat-label>Technical Interview Score:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].avgTechScore}}/10</td>
            <td><mat-label>Technical Interview Result:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].smeResult}}</td>
          </tr>
          <tr *ngIf="displayTechInterviewFields">
            <td><mat-label>Technical Interview Feedback:</mat-label></td>
            <td  colspan="4"><textarea matInput type="textArea" disabled readonly maxlength="3000" cols="90" value="{{this.operationsProjectDetails[0].smeFeedback}}"></textarea></td>
          </tr>
          <tr *ngIf="displayPartnerInterviewFields">
            <td><mat-label>Partner Interview Feedback:</mat-label></td>
            <td  colspan="4"><textarea matInput type="textArea" disabled readonly maxlength="3000" cols="90" value="{{this.operationsProjectDetails[0].managementFeedback}}"></textarea></td>
          </tr>
          <tr *ngIf="displayPartnerInterviewFields">
            <td><mat-label>Partner Interview Result:</mat-label></td>
            <td>{{this.operationsProjectDetails[0].managementResult}}</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div id="positionListModal" class="card" >
  <br>
  <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt">
    Open Position and Gross Profit Details
  </div>
  <div class="card-body"  >
      <mat-card class="login-card">
        <mat-card-content>
      <table>
        <tr *ngIf="displayPositionDropDown">
          <td>
            <mat-form-field class="open-full-width">
              <mat-select placeholder="Open Position" required [(ngModel)]= "positionID"  name= "positionID"
                          (selectionChange)="getSelectedPositionDetails($event.value)"
                          id="positionID" >
                <mat-option value="undefined" disabled selected >Select a position</mat-option>
                <mat-option *ngFor="let openPosition of openPositionsList" value="{{openPosition.positionID}}">{{openPosition.positionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
          <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
          <td><mat-label>Position Name:</mat-label></td>
          <td>{{positionDetails.positionName}}</td>
          <td><mat-label>Position ID:</mat-label></td>
          <td>{{positionDetails.positionID}}</td>
        </tr>
        <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
          <td><mat-label>Line of Business:</mat-label></td>
          <td>{{positionDetails.lineOfBusiness}}</td>
          <td><mat-label>Position Location:</mat-label></td>
          <td>{{positionDetails.positionLocation}}</td>
        </tr>
        <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
          <td><mat-label>Rate Card Role:</mat-label></td>
          <td>{{positionDetails.rateCardJobRole}}</td>
          <td><mat-label>Competency Level:</mat-label></td>
          <td>{{positionDetails.competencyLevel}}</td>
        </tr>
         <tr>
          <td colspan="4"><hr class="class-1"></td>
        </tr>
        <tr>
          <td><mat-label>Candidate Line Of Business:</mat-label></td>
          <td>{{this.candidateLOB}}</td>
          <td><mat-label>Band:</mat-label></td>
          <td>{{this.candidateBand}}</td>
        </tr>
        <br/>
        <tr >
          <td>
            <mat-form-field class="open-full-width">
              <mat-select placeholder="Candidate Location:" id="candidateLocation"  name= "candidateLocation"
                          [(ngModel)]= "candidateLocation" (selectionChange)="getGPByCandidateLocation($event.value)" >
                <mat-option value="" disabled selected >Select a location</mat-option>
                <mat-option *ngFor="let data of positionLocation" value="{{data.positionLocation}}" >{{data.positionLocation}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td><mat-label>Gross Profit(%):</mat-label></td>
          <td> {{grossProfit}}</td>
      </tr>
      </table>
        </mat-card-content>
      </mat-card>
  </div>
</div>

<div class="card">
  <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt">Please enter details to assign a candidate to a particular project</div>
  <div class="card-body">
    <form [formGroup]="operationsProjectForm" (ngSubmit)="onSubmit(this.operationsProjectDetails[0]._id)" >
      <mat-card>
        <mat-card-content>
          <table>
            <tr>
              <td>
                <mat-form-field class="open-full-width">
                  <mat-select placeholder="Location" (selectionChange)="updateLocation($event.value)"
                              formControlName="projectLocation" id="inputLocation" [ngClass]="{ 'is-invalid': submitted && myForm.projectLocation.errors }">
                    <mat-option value="" disabled>Choose...</mat-option>
                    <mat-option *ngFor="let location of ProjectLocation" value="{{location}}">{{location}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && myForm.projectLocation.errors" class="invalid-feedback">
                    <div *ngIf="myForm.projectLocation.errors.required">Location is required</div>
                  </div>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="open-full-width">
                  <mat-select placeholder="Client" (selectionChange)="updateClientProject($event.value)"
                              formControlName="clientProject" id="inputClientProject" [ngClass]="{ 'is-invalid': submitted && myForm.clientProject.errors }">
                    <mat-option value="" disabled>Choose...</mat-option>
                    <mat-option *ngFor="let clientProject of ClientProject" value="{{clientProject}}">{{clientProject}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && myForm.clientProject.errors" class="invalid-feedback">
                    <div *ngIf="myForm.clientProject.errors.required">Client is required</div>
                  </div>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field  class="open-full-width">
                  <input matInput placeholder="Position" formControlName="projectPosition" id="inputPosition" [ngClass]="{ 'is-invalid': submitted && myForm.projectPosition.errors }">
                  <div *ngIf="submitted && myForm.projectPosition.errors" class="invalid-feedback">
                    <div *ngIf="myForm.projectPosition.errors.required">Position is required</div>
                  </div>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="open-full-width">
                       <textarea matInput placeholder="Comments: [Max 3000 Characters]" id="inputComments" type="textarea" rows="2" cols="50"  maxlength="3000" formControlName="managementComments" [ngClass]="{ 'is-invalid': submitted && myForm.managementComments.errors }">
                       </textarea>
                  <!-- error -->
                  <div *ngIf="submitted && myForm.managementComments.errors" class="invalid-feedback">
                    <div *ngIf="myForm.managementComments.errors.required">Enter your Comments</div>
                  </div>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <!--    Commented out based on sprint 8 feedback from Amit
             <div class="form-group row">
                  <label for="inputProjectName" class="col-sm-4 col-form-label">Project Name:</label>
                  <div class="col-sm-4" style="size:50px">
                    <input class="form-control" type="text" formControlName="projectName" id="inputProjectName" [ngClass]="{ 'is-invalid': submitted && myForm.projectName.errors }">
                    <div *ngIf="submitted && myForm.projectName.errors" class="invalid-feedback">
                      <div *ngIf="myForm.projectName.errors.required">Project Name is required</div>
                    </div>
                  </div>
                </div>
                -->
        </mat-card-content>
      </mat-card>
      <br/>
        <div class="text-center" style="width: 1000px">
          <button mat-raised-button color="primary" type="button"  (click)="onSubmit(this.operationsProjectDetails[0]._id)">Submit</button>&nbsp;&nbsp;
          <button mat-raised-button color="primary" type="button"  (click)="resetForm()">Clear</button>&nbsp;&nbsp;
          <button mat-raised-button color="primary" type="button" (click)="cancelForm()">Cancel</button>
        </div>
    </form>
  </div>
</div>

