.modal {
   
   left: 20%;
    top: 15%;
    scroll-behavior: auto;
  }
  .modal-lg {
    max-width: 90% !important;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
   
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}