<nav class="navbar navbar-expand-lg navbar-light" style="background-color:powderblue">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"><b>Project Assignment</b></a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active"><b>Logout</b></a>
      </li>
    </ul>
  </div>
</nav>
<br/>
  <div class="card">
    <div class="modal-header table-success" style="background-color:powderblue"><b>View Candidate Details</b></div>
    <div class="card-body">
      <table>
        <tbody>
        <tr>
          <td  width="25%"><label>Name:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].employeeName}}</td>
          <td  width="25%"><label>Job Role:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].JRSS}}</td>
        </tr>
        <tr>
          <td  width="25%"><label>Technology Stream:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].technologyStream}}</td>
          <td  width="25%"><label>Online Test Result:</label></td>
          <td  width="25%" *ngIf="this.operationsProjectDetails[0].userScore!=null">{{this.operationsProjectDetails[0].userScore}}%</td>
          <p *ngIf="this.operationsProjectDetails[0].userScore==null">N/A</p>
        </tr>
        <tr>
          <td  width="25%"><label>You can download CV here:</label></td>
          <td width="20%"><a href="#" (click)="downloadCandidateResume(this.operationsProjectDetails[0].userName)" routerLinkActive="active" class="col-4 cursor-pointer" data-toggle="modal">Click here</a></td>
          <td  width="25%"><label>You can access the Pre-Technical-Interview form here:</label></td>
          <td *ngIf="this.operationsProjectDetails[0].stage2_status=='Skipped'" width="20%"><a href="#" (click)="skipMethod()" routerLinkActive="active"  class="col-4 cursor-pointer" data-toggle="modal">Click here</a></td>
          <td *ngIf="this.operationsProjectDetails[0].stage2_status=='Completed'">
            <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.operationsProjectDetails[0].result_users[0].JRSS, this.operationsProjectDetails[0].userName]" [state]="{jrss:this.operationsProjectDetails[0].result_users[0].JRSS,username:this.operationsProjectDetails[0].result_users[0].username,access:'operation-interview-initiate',accessLevel:this.accessLevel}">
              <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
            </a>
          </td>        
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td  width="25%"><label>Technical Interview Score:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].avgTechScore}}/10</td>
          <td  width="25%"><label>Technical Interview Result:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].smeResult}}</td>
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td  width="25%"><label>Technical Interview Feedback:</label></td>
          <td  colspan="3" width="75%"><textarea disabled readonly maxlength="3000" cols="90" value="{{this.operationsProjectDetails[0].smeFeedback}}"></textarea></td>
        </tr>
        <tr *ngIf="displayPartnerInterviewFields">
            <td  width="25%"><label>Partner Interview Feedback:</label></td>
            <td  colspan="3" width="75%"><textarea disabled readonly maxlength="3000" cols="90" value="{{this.operationsProjectDetails[0].managementFeedback}}"></textarea></td>
        </tr>
        <tr *ngIf="displayPartnerInterviewFields">
          <td  width="25%"><label>Partner Interview Result:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].managementResult}}</td>
          <td width="25%"></td>
          <td width="25%"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
    <br>
    <div class="card">
    <div class="card-header" style="background-color:powderblue">Please enter details to assign a candidate to a particular project</div>
    <div class="card-body">

      <form [formGroup]="operationsProjectForm" (ngSubmit)="onSubmit(this.operationsProjectDetails[0]._id)" >
        <div class="form-group row">
          <label for="inputLocation" class="col-sm-4 col-form-label">Location:</label>
          <div class="col-sm-4" style="size:50px">
            <select class="custom-select form-control" (change)="updateLocation($event.target.value)"
                    formControlName="projectLocation" id="inputLocation" [ngClass]="{ 'is-invalid': submitted && myForm.projectLocation.errors }">
              <option value="" disabled>Choose...</option>
              <option *ngFor="let location of ProjectLocation" value="{{location}}">{{location}}
              </option>
            </select>
            <div *ngIf="submitted && myForm.projectLocation.errors" class="invalid-feedback">
              <div *ngIf="myForm.projectLocation.errors.required">Location is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputClientProject" class="col-sm-4 col-form-label">Client:</label>
          <div class="col-sm-4" style="size:50px">
            <select class="custom-select form-control" (change)="updateClientProject($event.target.value)"
                    formControlName="clientProject" id="inputClientProject" [ngClass]="{ 'is-invalid': submitted && myForm.clientProject.errors }">
              <option value="" disabled>Choose...</option>
              <option *ngFor="let clientProject of ClientProject" value="{{clientProject}}">{{clientProject}}
              </option>
            </select>
            <div *ngIf="submitted && myForm.clientProject.errors" class="invalid-feedback">
              <div *ngIf="myForm.clientProject.errors.required">Client is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputProjectName" class="col-sm-4 col-form-label">Project Name:</label>
          <div class="col-sm-4" style="size:50px">
            <input class="form-control" type="text" formControlName="projectName" id="inputProjectName" [ngClass]="{ 'is-invalid': submitted && myForm.projectName.errors }">
            <div *ngIf="submitted && myForm.projectName.errors" class="invalid-feedback">
              <div *ngIf="myForm.projectName.errors.required">Project Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPosition" class="col-sm-4 col-form-label" >Position:</label>
          <div class="col-sm-4" style="size:50px">
            <input class="form-control" type="text" formControlName="projectPosition" id="inputPosition" [ngClass]="{ 'is-invalid': submitted && myForm.projectPosition.errors }">
            <div *ngIf="submitted && myForm.projectPosition.errors" class="invalid-feedback">
              <div *ngIf="myForm.projectPosition.errors.required">Position is required</div>
            </div>
          </div>
        </div>        
      <div class="form-group row">
        <label for="inputComments" class="col-sm-4 col-form-label" >Comments:</label>
        <div class="col-sm-8">
        <textarea class="form-control" id="inputComments" type="textarea" rows="2" cols="50"  maxlength="3000" formControlName="managementComments" [ngClass]="{ 'is-invalid': submitted && myForm.managementComments.errors }">
        </textarea>
          <div class="col-sm-6"><i><b><font style="font-size:12px">[Max 3000 Characters]</font></b></i></div>
          <!-- error -->
        <div *ngIf="submitted && myForm.managementComments.errors" class="invalid-feedback">
          <div *ngIf="myForm.managementComments.errors.required">Enter your Comments</div>
        </div>
        </div>

      </div>
        <div class="text-center" style="width: 1000px">
          <button type="submit" style="background-color:#0043CE;" class="btn btn-success btn-sm">Submit</button>&nbsp;&nbsp;
          <button type="button" style="background-color:#0043CE;" class="btn btn-success btn-sm" (click)="resetForm()">Clear</button>&nbsp;&nbsp;
          <button type="button" style="background-color:#0043CE;" class="btn btn-success btn-sm" (click)="cancelForm()">Cancel</button>
        </div>
      </form>
    </div>
    </div>


