<div>
    <div>
      <h4 class="my-0 mr-md-auto font-weight-normal">Candidate project Assignment </h4>
    </div>
    <br/>
    <div class="col-sm-6"><i><b><font style="font-size:12px">View Candidate Details</font></b></i></div>
    <div class="card">
      <table>
        <tbody>
        <tr>
          <td  width="25%"><label style="color: mediumpurple">Name:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].employeeName}}</td>
          <td  width="25%"><label style="color: mediumpurple">JRSS:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].JRSS}}</td>
        </tr>
        <tr>
          <td  width="25%"><label style="color: mediumpurple">Technology Stream:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].result_users[0].technologyStream}}</td>
          <td  width="25%"><label style="color: mediumpurple">Online Assessment Score:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].userScore}}%</td>
        </tr>
        <tr>
          <td  width="25%"><label style="color: mediumpurple">Technical Interview Score:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].avgTechScore}}</td>
          <td  width="25%"><label style="color: mediumpurple">Technical Interview Result:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].smeResult}}</td>
        </tr>
        <tr>
          <td  width="25%"><label style="color: mediumpurple">Technical Interview Feedback:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].smeFeedback}}</td>
          <td  width="25%"><label style="color: mediumpurple">Partner Interview Result:</label></td>
          <td  width="25%">{{this.operationsProjectDetails[0].managementResult}}</td>
        </tr>
        <tr>
            <td  width="25%"><label style="color: mediumpurple">Partner Interview Feedback:</label></td>
            <td  width="25%">{{this.operationsProjectDetails[0].managementFeedback}}</td>
            <td></td>
            <td></td>
          </tr>
        <tr>
          <td  width="25%"><label style="color: mediumpurple">You can download CV here:</label></td>
          <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
          <td  width="25%"><label style="color: mediumpurple">You can access the Pre-Technical-Interview form here:</label></td>
          <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>



  </div>
  