<div class="col-md-8 offset-md-3 mt-5">
  <mat-card class="login-card">
    <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Change Password</div>
    <br/>
    <mat-card-content>
      <form [formGroup]="changePasswordForm">
          <table>
            <h6>Please provide new password.</h6>
            <p>Password should be minimum of 8 characters and must contain atleast one lowercase,uppercase,number and special character.</p>

            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">password is required</div>
                  </div>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                </div>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;
      </div>
    </mat-card-actions>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </mat-card>
  </div>

