    <div>
      <h4 class="my-0 mr-md-auto font-weight-normal">Partner Interview Assessment Queue</h4>
      <br/>
    </div>

      <!-- No data message -->
      <p *ngIf="Result.length <= 0" class="no-data text-center">There are no records in Partner Interview Assessment Queue</p>

      <!-- Partner Interview list -->
      <table class="table table-bordered" *ngIf="Result.length > 0">
        <thead class="table-success">
        <tr style="background-color:powderblue">
          <th scope="col center" width="5%">Action</th>
          <th scope="col" width="13%">Name</th>
          <th scope="col" width="25%">Job Role</th>
          <th scope="col" width="20%">Online Test Result</th>
          <th scope="col" width="23%">Technical Interview Result</th>
          <th scope="col" width="17%">CV Download</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let partnerInterview of Result | filter: searchByKeyword: 'name' | paginate: config; let i = index">
          <td  class="text-center edit-block" width="5%">
            <input type="radio" name="radiogroup"
                   (change)="onSelectionChange(partnerInterview.userName,partnerInterview.quizNumber)">
          </td>
          <td width="20%"><a href="#myModal" (click)="getCandidateDetails(partnerInterview.userName)" class="col-4 cursor-pointer" data-toggle="modal" >{{partnerInterview.result_users[0].employeeName}}</a></td>
          <td  width="25%">{{partnerInterview.result_users[0].JRSS}}</td>
          <td  width="20%"><a href="#assessmentModal"  (click)="getCandidateAssessmentDetails(partnerInterview.userName,partnerInterview.quizNumber,partnerInterview.result_users[0].employeeName,partnerInterview.userScore,partnerInterview.createdDate)" class="col-4 cursor-pointer" data-toggle="modal" *ngIf="partnerInterview.userScore!=null">{{partnerInterview.userScore}}%</a><p *ngIf="partnerInterview.userScore==null">&nbsp;&nbsp;&nbsp;&nbsp;N/A</p></td>
          <td  width="23%">{{partnerInterview.smeResult}}</td>
          <td width="20%"><a href="#" (click)="downloadCandidateResume(partnerInterview.userName)" routerLinkActive="active" class="col-4 cursor-pointer" data-toggle="modal">Click here</a></td>        </tr>
        </tbody>
      </table>

      <div  class="float-right text-right" *ngIf="Result.length > 0">
        <span (click)="exceptionalApproval()">
               <button type="button"class="btn btn-success btn-sm" style="background-color:#0043CE;" data-toggle="modal" data-target="#myModal">Exceptional Approval</button>
             </span>
             &nbsp;
             <span (click)="initiateInterview()">
              <button type="button" class="btn btn-success btn-sm" style="background-color:#0043CE;">Initiate Interview</button>&nbsp;
            </span>
           </div>
    <div *ngIf="Result.length > 0">
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>

<!-- Modal Code starts. -->
<div id="assessmentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
     <div class="modal-content">
      <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:powderblue">
        <h4 class="modal-title">Candidate Assessment Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayAssessmentModalBody'">
        <table style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <td scope="col" width="10%">{{this.userName}}'s answers</td>
            <td scope="col" width="10%">Attempt No : {{this.quizNumber}}</td>
            <td scope="col" width="10%"> Date : {{ this.assesmentDate.substring(0,10) }}</td>
            <td scope="col" width="10%"> Score : {{ this.userScore }}%</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="4" scope="col" style="font-size:x-small;color:black;font-style: italic;">
              You have correctly answered {{this.correctAnswerCount}} questions out of  {{this.questionCount}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngFor="let answer of this.candidateAssessmentDetails.results;let i=index">
        <div *ngFor="let questions of answer.userAttemptedQs" >
          <table  style="table-layout: fixed; width: 100%">
            <tbody>
              <tr>
                <td width="2%">
                  <div  *ngIf="answer.userAnswerID==questions.answerID">
                    <img src="assets/images/success.jpg" width="20" height="20"/>
                  </div>
                  <div  *ngIf="answer.userAnswerID!= questions.answerID">
                    <img src="assets/images/failure.jpg" width="20" height="20"/>
                  </div>
                </td><td><b>{{i+1}}){{questions.question}}?</b></td>
              </tr>
              <tr></tr>
              <tr  *ngFor="let questionOption of questions.options;let k=index">
                <td  width="2%"></td>
                <td>{{k+1}}){{questionOption.option}} </td>
              </tr>
              <tr><td  width="2%"></td>
                <td style="color:black"><pre>Candidate Answer: {{answer.userAnswerID}}    Correct Answer:  {{questions.answerID}}
                  </pre> </td></tr>
              <tr></tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer table-success" style="background-color:powderblue">
        <button type="button" style="background-color:#0043CE;" class="btn btn-primary" data-dismiss="modal">Close</button>
      <!-- </div> -->
    </div>
    </div>

  </div>
</div>
<!-- Code Ends.-->


<div class="container">

  <!-- The Modal -->
  <div class="modal" id="myModal"  *ngIf="showModal" #content>
    <div class="modal-dialog">
     <div class="modal-content">
      <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:powderblue">
        <h4 class="modal-title">Partner Feedback:</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form novalidate [formGroup]="partnerFeedbackForm">
        <textarea class="form-control" id="inputpartnerFeedback" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="partnerFeedback" [ngClass]="{ 'is-invalid': submitted && myForm.partnerFeedback.errors }">
        </textarea>
          <div class="col-sm-6"><i><b><font style="font-size:12px">[Max 3000 Characters]</font></b></i></div>
          <!-- error -->
        <div *ngIf="submitted && myForm.partnerFeedback.errors" class="invalid-feedback">
          <div *ngIf="myForm.partnerFeedback.errors.required">Enter your feedback</div>
        </div>
        
        <div class="form-group row">
          <label class="col-sm-6 col-form-label"></label>
          <div class="col-sm-10"></div>
          <div class="col-sm-20 text-center" style="width:1150px">
          <button type="submit" class="btn btn-success btn-sm" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-success btn-sm" >Clear</button>&nbsp;&nbsp;          
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cancel</button>
          
          </div>
        </div>
      
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header table-success" style="background-color:powderblue">
        <h4 class="modal-title">View Candidate Details</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayModalBody'">
        <table>
          <tr>
            <td><label class="col-sm-8 col-form-label">Name:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].employeeName}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-8 col-form-label">Email:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].email}}</td>
          </tr>
          <tr *ngIf="displayRegularUIFields">
            <td><label class="col-sm-10 col-form-label">Band:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].band}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-10 col-form-label">Job Role:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-10 col-form-label">Technology Stream:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].technologyStream}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-10 col-form-label">Phone Number:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].phoneNumber}}</td>
          </tr>
          <tr *ngIf="displayRegularUIFields">
            <td><label class="col-sm-10 col-form-label">Date of Joining:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
          </tr>
          <tr *ngIf="displayContractorUIFields">
            <td><label class="col-sm-10 col-form-label">Date of Birth:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-10 col-form-label">Status:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].status}}</td>
          </tr>
          <tr>
            <td><label class="col-sm-10 col-form-label">Quiz Attempts:</label></td>
            <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].quizNumber}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer table-success" style="background-color:powderblue">
        <button type="button" style="background-color:#0043CE;"  class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
<!-- Code Ends.-->



