<div *ngIf="mode=='login'" class="col-md-8 offset-md-2 mt-4">
  <mat-card class="loginhtml-card">
    <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Login</div>
    <br/>
    <br/>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <table>
          <div style="text-align:left;">Please login with provided credentials.</div>
          <br/>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" name="username" required [ngClass]="{ 'is-invalid': submitted && f1.username.errors }">
                <div *ngIf="submitted && f1.username.errors" class="invalid-feedback">
                  <div *ngIf="f1.username.errors.required">Username is required</div>
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password" type="password" name="password" required [ngClass]="{ 'is-invalid': submitted && f1.password.errors }" >
              <div *ngIf="submitted && f1.password.errors" class="invalid-feedback">
                <div *ngIf="f1.password.errors.required">Password is required</div>
              </div>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
      <button mat-raised-button color="primary" (click)="forgotPassword()">Forgot password</button>
      </div>
    </mat-card-actions>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    &nbsp;&nbsp;&nbsp;
  </mat-card>
</div>


<div *ngIf="mode=='forgotPassword'" class="col-md-8 offset-md-3 mt-5">
  <mat-card class="login-card">
    <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Confirm User</div>
    <br/>
    <br/>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm">
        <table>
          <div style="text-align:left;">Please provide Username and Date of joining if you are regular employee or Date of birth if you are contractor.</div>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" name="username" required [ngClass]="{ 'is-invalid': forgotSubmitted && forgotPwd.username.errors }">
                <div *ngIf="forgotSubmitted && forgotPwd.username.errors" class="invalid-feedback">
                  <div *ngIf="forgotPwd.username.errors?.required">Username is required</div>
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="date" placeholder="DateOfJoining/DateOfBirth" formControlName="Dateofjoining" name="Dateofjoining" required [ngClass]="{ 'is-invalid': forgotSubmitted && forgotPwd.Dateofjoining.errors }" >
              <div *ngIf="forgotSubmitted && forgotPwd.Dateofjoining.errors" class="invalid-feedback">
                <div *ngIf="forgotPwd.Dateofjoining.errors?.required">DateOfJoining/DateOfBirth is required</div>
              </div>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onforgotPasswordSubmit()">Submit</button>
      <button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
      </div>
    </mat-card-actions>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>      &nbsp;&nbsp;&nbsp;
  </mat-card>
</div>

<br><br><br><br>
<img src="assets/images/mongo.png" align="right" width="50"  height="30" hspace=5 vspace=5 style="margin-right: 10px;">
<img src="assets/images/Java.png" align="right" width="50"  height="30" hspace=5 vspace=5>
<img src="assets/images/docker.png"  align="right" width="50"  height="30" hspace=5 vspace=5>
<img src="assets/images/aws.png" align="right" width="40"  height="30" hspace=4 vspace=4 >
<img src="assets/images/angular.png" align="right" width="50"  height="30" hspace=5 vspace=5>
<img src="assets/images/python.png" align="right" width="50"  height="30" hspace=5 vspace=5 >
<img src="assets/images/springboot.png" align="right" width="50"  height="40" hspace=5 vspace=5 > 
<img src="assets/images/nodelogo.png" align="right" width="50"  height="30" hspace=5>  
