<app-navigation></app-navigation>
<br/>

<div class="float-left text-left">
  <h4 class="my-0 mr-md-auto font-weight-normal">View Open Positions</h4></div>
<br/><br>
<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="example-card-title">Search</mat-card-title>
  </mat-card-header>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="positionIDFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'positionID')" placeholder="ID">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jrssFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value,'JRSS')" placeholder="Job Role">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="positionLocationFilter" #ctrl="ngModel"  (keyup)="applyFilter($event.target.value,'positionLocation')" placeholder="Position Location">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" aria-label="Clear" (click)="clearFilters()">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
<br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row._id)"></mat-radio-button>
        </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="positionName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.positionName}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="positionID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.positionID}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
        <td mat-cell *matCellDef="let row"> {{row.account}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="JRSS">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
        <td mat-cell *matCellDef="let row"> {{row.JRSS}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="lineOfBusiness">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Line Of Business </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.lineOfBusiness}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="positionLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position Location </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.positionLocation}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="rateCardJobRole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate Card Job Role </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.rateCardJobRole}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="competencyLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Competency Level </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.competencyLevel}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
    </table>
    <table>
      <tr *ngIf="!dataSource.data.length">
        <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
          No Records Found!
        </td>
      </tr>
    </table>
    <mat-paginator [length]="this.OpenPositions.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  <br/>
<div  class="float-right text-right" *ngIf="OpenPositions.length > 0">
  <a class="edit" (click)="invokeEdit()">
    <button mat-raised-button color="primary">Edit</button>&nbsp;
  </a>
  <a class="delete" (click)="removeOpenPosition(openPositionID)">
    <button mat-raised-button color="primary">Delete</button>&nbsp;
  </a>
</div>



