<app-navigation></app-navigation>
<br/>
<div>
	<h4 class="my-0 mr-md-auto font-weight-normal">Delete Technology Stream from Job Role</h4>
	<br/>
</div>

<!-- form Test Config -->
<mat-card class="login-card">
	<mat-card-header></mat-card-header>
	<mat-card-content>
		<form [formGroup]="streamDeleteForm" (ngSubmit)="onSubmit()">
		  <table class="open-full-width" cellspacing="0">
		  		<tr>
					<td> 
						<!-- Job Role -->
						<mat-form-field class="open-full-width">
							<mat-select placeholder="Job Role" (selectionChange)="updateJrssProfile($event.target.value)"
								formControlName="JRSS" id="inputJRSS3" [ngClass]="{ 'is-invalid': submitted && myForm.account.errors }" >
								<mat-option disabled value="">Choose...</mat-option>
								<mat-option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}</mat-option>
							</mat-select>
							<div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback" >
								<div *ngIf="myForm.JRSS.errors.required">JRSS is required</div>
							</div>
						</mat-form-field>
					</td>
					<td> 
						<!-- Technology Stream To be Deleted -->
						<mat-form-field class="open-full-width">
							<mat-select placeholder="Technology Stream To be Deleted" 
								formControlName="technologyStream" id="inputSkill3" [ngClass]="{ 'is-invalid': submitted && myForm.technologyStream.errors }" >
								<mat-option disabled value="">Choose...</mat-option>
								<mat-option *ngFor="let data of technologyStream" value="{{data.value}}">{{data.value}}</mat-option>
							</mat-select>
							<div *ngIf="submitted && myForm.technologyStream.errors" class="invalid-feedback" >
								<div *ngIf="myForm.technologyStream.errors.required">Technology Stream  is required</div>
							</div>
						</mat-form-field>
					</td>
				</tr>
			</table> 
		</form>
	</mat-card-content>
	<mat-card-actions>
		<div class="row justify-content-center">
			<button mat-raised-button color="primary" (click)="onSubmit()">Delete</button>
			<button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
		</div>
	</mat-card-actions>
</mat-card>
	<br/>
	<br/>
	<div>
		<h4 class="my-0 mr-md-auto font-weight-normal">Technology Stream List</h4><br/>
	</div>
	<!-- No data found message -->
	<p *ngIf="JRSS.length <= 0" class="no-data text-center">There is no Technology Stream List added yet!</p>
	<!-- Technology Stream list -->  
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			<!-- Job Role -->
			<ng-container matColumnDef="jrss">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
				<td mat-cell *matCellDef="let row">{{row[0]}}</td>
			</ng-container>
			<!-- Technology Stream -->
			<ng-container matColumnDef="technologyStream">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Technology Stream </th>
				<td mat-cell *matCellDef="let row">{{row[1]}}</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
   		</table>
   		<mat-paginator [length]="this.JRSS.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
	</div>
