<app-navigation></app-navigation>
<br/>
<div>
	<h4 class="my-0 mr-md-auto font-weight-normal">Delete Technology Stream from Job Role</h4>
	<br/>
</div>

<!-- form Stream delete -->
<mat-card class="login-card">
	<mat-card-header></mat-card-header>
	<mat-card-content>
		<form [formGroup]="streamDeleteForm" (ngSubmit)="onSubmit()">
		  <table class="open-full-width" cellspacing="0">
		  		<tr>
					<td> 
						<!-- Job Role -->
						<mat-form-field class="open-full-width">
							<input matInput [readonly]="true" placeholder="Job Role" formControlName="jobRole" name="inputJRSS3" [ngClass]="{ 'is-invalid': submitted && myForm.jobRole.errors }">
							<div *ngIf="submitted && myForm.jobRole.errors" class="invalid-feedback">
							  <div *ngIf="myForm.jobRole.errors.required">Job Role is required</div>							  
							</div>
						</mat-form-field>
					</td>
					<td> 
						<!-- Technology Stream To be Deleted -->
						<mat-form-field class="open-full-width">
							<mat-select placeholder="Technology Stream To be Deleted" 
								formControlName="techStream" id="inputSkill3" [ngClass]="{'is-invalid': submitted && myForm.techStream.errors}" >				
								<mat-option *ngFor="let data of technologyStream" value="{{data.value}}">{{data.value}}</mat-option>
							</mat-select>
							<div *ngIf="submitted && myForm.techStream.errors" class="invalid-feedback" >
								<div *ngIf="myForm.techStream.errors.required">Technology Stream  is required</div>
							</div>
						</mat-form-field>
					</td>
				</tr>
			</table> 
		</form>
	</mat-card-content>
	<mat-card-actions>
		<div class="row justify-content-center">
			<button mat-raised-button color="primary" (click)="onSubmit()">Delete</button>
			<button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
		</div>
	</mat-card-actions>
</mat-card>	