<div id="quiz"  *ngIf="mode=='pre-tech'">
    
    <div oncopy="return false">
        <font color="black" size="+2">
        <div class="form-group row" >
            <div class="col-sm-4"></div>
        <div class="col-sm-4 col-form-label"><b>Pre Technical Interview Form</b></div></div></font>
      <div class="form-group row" *ngFor="let preTechAssmntQ of preTechAssmntQuestions" >
        <br/>
        <label style="width:500px">
          <!--To display questions as entered with line breaks-->
          <b> &nbsp;{{preTechAssmntQ.preTechQuestion}}</b>
        </label>
        <input class="form-control" type="text"  size="">
  </div>
</div>

 <div class="text-center" style="width: 600px">
        <button type="button" (click)="mode = 'review'" >Submit</button>&nbsp;&nbsp;&nbsp;
        <button type="button"  (click)="mode = 'review'">Save Draft</button> &nbsp;&nbsp;&nbsp;
        <button type="button"   (click)="mode = 'review'">Clear</button> &nbsp;&nbsp;&nbsp;
        <button type="button" (click)="mode = 'review'">Cancel</button>&nbsp;&nbsp;
      </div>
</div>
  <div *ngIf="mode=='instructions'" oncopy="return false">
    Congratulations on completing the exam,
    <h4 class="text-center"> <br>Instructions for filling up the pre-technical assessment form</h4>
     <br>
   <ol>1. The objective behind the pre-technical assessment form is to understand more about your work experience against the requirements of the job role.</ol>
<ol>2. All the questions in the pre-technical assessment form are mandatory to answer.</ol>
<ol>3. Please note that the answers provided in the form might be used in the upcoming assessment rounds.</ol>
<ol>4. Please note that you also have an option to "Save Draft" anytime and hence you don't need to fill-up the form in one go.</ol>
<ol>5. If you don't have anything to share against a particular question, then please mention as "Not Applicable".</ol>

  You can find the pre-technical assessment form here  
<a class="nav-link" (click)="preTech()" routerLink="/pre-tech" routerLinkActive="active" >pre-technical interview form</a>

  </div>
  
  

  