<app-navigation></app-navigation>
<br/>
  <div>
    <h4 class="my-0 mr-md-auto font-weight-normal">Workflow Configuration</h4>
    <br/>
    <h6 class="my-0 mr-md-auto font-weight-normal">Please check the required recruitment process stages for the selected Job Role</h6>
    <br/>
  </div>

<mat-card class="login-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="workFlowForm">
      <table class="open-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="stream-half-width">
              <mat-select placeholder="Account"  formControlName="account" id="account" (selectionChange)="updateAccountProfile($event.value)"
                          [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.account.errors }">
                <mat-option disabled value="">Choose...</mat-option>
                <mat-option *ngFor="let account of AccountArray" value="{{account}}" >{{account}}
                </mat-option>
              </mat-select>
              <div *ngIf="!formReset && submitted && myForm.account.errors" class="invalid-feedback">
                <div *ngIf="myForm.account.errors.required">Account is required</div>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="stream-half-width">
              <mat-select placeholder="Job Role" required (selectionChange)="updateJrssProfile($event)"
                      formControlName="JRSS" name="JRSS" id="JRSS" required [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.JRSS.errors }">
                <mat-option value="">Choose...</mat-option>
                <mat-option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
                </mat-option>
              </mat-select>
              <div *ngIf="!formReset && submitted && myForm.JRSS.errors" class="invalid-feedback">
                <div *ngIf="myForm.JRSS.errors.required">JRSS is required</div>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage1OnlineTechAssessment" name="stage1OnlineTechAssessment" [checked]="stage1">
              Online Technical Assessment
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox (change)="preTechQuestionCheck($event)" formControlName="stage2PreTechAssessment" name="stage2PreTechAssessment" [checked]="stage2">
              Pre-technical Interview Assessment Form
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage3TechAssessment" name="stage3TechAssessment" [checked]="stage3">
              Technical Interview
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage4ManagementInterview" name="stage4ManagementInterview" [checked]="stage4">
              Partner Interview
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage5ProjectAllocation" name="stage5ProjectAllocation" [checked]="stage5">
              Project Assignment
            </mat-checkbox>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      <button mat-raised-button color="primary" (click)="clearForm()">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>       &nbsp;&nbsp;&nbsp;&nbsp;

