<app-navigation></app-navigation>
<br>

<div matSort class="mat-elevation-z8">
    <h4 class="my-0 mr-md-auto font-weight-normal" >List of eligible candidates for the job role - {{jrss}}</h4>
    <br/>

    <!-- Operations candidate list -->

  <div class="mat-elevation-z8" *ngIf="this.loginAdminAccounts.length > 1 || this.loginAdminAccounts[0] === 'SECTOR'">
    <table mat-table [dataSource]="dataSource" >

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button name="emailSelected" (change)="emailSelected = row.userName"></mat-radio-button></td>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> <a href="#myModal" (click)="getCandidateDetails(row.userName)" data-toggle="modal" >{{row.result_users[0].employeeName}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
        <td mat-cell *matCellDef="let row">{{row.result_users[0].account}}</td>
      </ng-container>

      <ng-container matColumnDef="userScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Result </th>
        <td mat-cell *matCellDef="let row"> 
          <a href="#assessmentModal" (click)="getCandidateAssessmentDetails(row.userName,row.quizNumber, row.result_users[0].employeeName,row.userScore,row.createdDate)"
              data-toggle="modal" style="color:rgb(0, 128, 43);" *ngIf="row.userScore!=null">{{row.userScore}}%</a>
          <p *ngIf="row.userScore==null">N/A</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="smeResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Technical Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.smeResult}} </td>
      </ng-container>
	  
	  <ng-container matColumnDef="managementResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.managementResult}} </td>
      </ng-container>

      <ng-container matColumnDef="cvDownload">
        <th mat-header-cell *matHeaderCellDef> CV Download </th>
        <td mat-cell *matCellDef="let row"><a href="#" (click)="downloadCandidateResume(row.userName)" routerLinkActive="active"  data-toggle="modal">Click here</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMultiAccount"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsMultiAccount;" [ngClass]="{gray: even}"></tr>
    </table>
    <table>
      <tr *ngIf="!dataSource.data.length">
        <td style="text-align: center;" [attr.colspan]="displayedColumnsMultiAccount.length">
          No Records Found!
        </td>
      </tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="mat-elevation-z8" *ngIf="this.loginAdminAccounts.length == 1 && this.loginAdminAccounts[0] !== 'SECTOR'">
    <table mat-table [dataSource]="dataSource" >

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button name="emailSelected" (change)="emailSelected = row.userName"></mat-radio-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> <a href="#myModal" (click)="getCandidateDetails(row.userName)" data-toggle="modal" >{{row.result_users[0].employeeName}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="userScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Result </th>
        <td mat-cell *matCellDef="let row">
          <a href="#assessmentModal" (click)="getCandidateAssessmentDetails(row.userName,row.quizNumber,row.result_users[0].employeeName,row.userScore,row.createdDate)"
             data-toggle="modal" style="color:rgb(0, 128, 43);" *ngIf="row.userScore!=null">{{row.userScore}}%</a>
          <p *ngIf="row.userScore==null">N/A</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="smeResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Technical Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.smeResult}} </td>
      </ng-container>

      <ng-container matColumnDef="managementResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner Interview Result</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.managementResult}} </td>
      </ng-container>


      <ng-container matColumnDef="cvDownload">
        <th mat-header-cell *matHeaderCellDef> CV Download </th>
        <td mat-cell *matCellDef="let row">
          <a href="#" (click)="downloadCandidateResume(row.userName)" routerLinkActive="active"
             data-toggle="modal">Click here</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>

    </table>
    <table>
      <tr *ngIf="!dataSource.data.length">
        <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
          No Records Found!
        </td>
      </tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>

</div>
<br/>
  <div  class="float-right text-right" *ngIf="Result.length > 0">
    <span (click)="assignProject()">
       <button type="button" mat-raised-button color="primary">Assign Project</button>&nbsp;
    </span>
    <br/>
  </div>

  <!-- Modal Code starts. -->
<div id="assessmentModal" class="modal fade" role="dialog">
<div class="modal-dialog modal-lg  modal-dialog-scrollable">
  <!-- Modal content-->
   <div class="modal-content">
    <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
      <h4 class="modal-title">Candidate Assessment Details</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" *ngIf="mode=='displayAssessmentModalBody'">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
      <table style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
          <td scope="col" width="10%"><b>{{this.userName}}'s answers</b></td>
          <td scope="col" width="10%"><b>Attempt No : </b>{{this.quizNumber}}</td>
          <td scope="col" width="10%"><b> Date : </b>{{ this.assesmentDate.substring(0,10) }}</td>
          <td scope="col" width="10%"><b> Score : </b>{{ this.userScore }}%</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4" scope="col" style="color:black;font-style: italic;">
            You have correctly answered {{this.correctAnswerCount}} questions out of  {{this.questionCount}}
          </td>
        </tr>
        </tbody>
      </table>
        </mat-card-content>
      </mat-card>
      <br/>
    <div *ngFor="let answer of this.candidateAssessmentDetails.results;let i=index">
      <div *ngFor="let questions of answer.userAttemptedQs" >
        <mat-card>
          <mat-card-content>
        <table  style="table-layout: fixed; width: 100%">
          <tbody>
            <tr>
              <td width="2%">
                <div  *ngIf="answer.userAnswerID==questions.answerID">
                  <img src="assets/images/success.jpg" width="20" height="20"/>
                </div>
                <div  *ngIf="answer.userAnswerID!= questions.answerID">
                  <img src="assets/images/failure.jpg" width="20" height="20"/>
                </div>
              </td><td><b>{{i+1}}){{questions.question}}?</b></td>
            </tr>
            <tr></tr>
            <tr  *ngFor="let questionOption of questions.options;let k=index">
              <td  width="2%"></td>
              <td>{{k+1}}){{questionOption.option}} </td>
            </tr>
            <tr><td  width="2%"></td>
              <td style="color:black"><pre><b>Candidate Answer: </b>{{answer.userAnswerID}}   <b> Correct Answer:</b>  {{questions.answerID}}
                </pre> </td></tr>
            <tr></tr>
            </tbody>
        </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
      <button type="button" mat-raised-button color="primary"  data-dismiss="modal">Close</button>
    <!-- </div> -->
      </div>

</div>
</div>
</div>
<!-- Code Ends.-->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog modal-lg modal-dialog-scrollable">

  <!-- Modal content-->
  <div class="modal-content" >
    <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
      <h4 class="modal-title">View Candidate Details</h4>
      <button type="button"  class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" *ngIf="mode=='displayModalBody'">
      <mat-card>
        <mat-card-content>
      <table class="fixedTable">
        <tr>
          <td><mat-label>Name:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].employeeName}}</td>
          <td><mat-label>Email:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].email}}</td>
        </tr>
        <tr *ngIf="displayRegularUIFields">
          <td><mat-label>Band:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].band}}</td>
          <td><mat-label>Job Role:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
        </tr>
        <tr>
          <td><mat-label>Technology Stream:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].technologyStream}}</td>
          <td><mat-label>Phone Number:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].phoneNumber}}</td>
        </tr>
        <tr>
          <td><mat-label>Status:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].status}}</td>
          <td><mat-label>Quiz Attempts:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].quizNumber}}</td>
        </tr>
        <tr *ngIf="displayRegularUIFields">
          <td><mat-label>Date of Joining:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
          <td><mat-label>Employee Type:</mat-label></td>
          <td colspan="3" style="width:75%">{{this.candidateDetails[0].employeeType}}</td>
        </tr>
        <tr *ngIf="displayContractorUIFields">
          <td><mat-label>Date of Birth:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
          <td><mat-label>Job Role:</mat-label></td>
          <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
        </tr>
        <tr *ngIf="displayContractorUIFields">
          <td><mat-label>Employee Type:</mat-label></td>
          <td>{{this.candidateDetails[0].employeeType}}</td>
        </tr> 
      </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
      <button type="button" mat-raised-button color="primary" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
<!-- Code Ends.-->


