<app-navigation></app-navigation>
<br>
<mat-card class="login-card">
  <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Search</div>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="nameFilter" (keyup)="applyFilter($event.target.value,'employeeName')" placeholder="Name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jrssFilter" (keyup)="applyFilter($event.target.value,'JRSS')" placeholder="Job Role">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field *ngIf="account=='sector' || account=='Sector' || account=='SECTOR' || this.loginAccounts.length > 1">
            <input matInput [(ngModel)]="accountFilter" (keyup)="applyFilter($event.target.value,'account')" placeholder="Account">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" aria-label="Clear" (click)="clearFilters()">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
<br>
  <div>
    <h4 class="my-0 mr-md-auto font-weight-normal">Technical Interview Assessment Queue</h4>
    <br/>
  </div>
  <!-- No data message -->
  <p *ngIf="TechnicalInterviewList.length <= 0" class="no-data text-center">There are no records in Technical Interview Assessment Queue</p>

  <!-- Technical Interview list -->
  <div class="mat-elevation-z8" *ngIf="account=='sector' || account=='Sector' || account=='SECTOR' || this.loginAccounts.length > 1">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row.userName, row.result_users[0].employeeName, row.quizNumber)"></mat-radio-button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="result_users[0].employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"><a href="#myModal" (click)="getCandidateDetails(row.userName)" data-toggle="modal" >{{row.result_users[0].employeeName}}</a>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="result_users[0].JRSS">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
        <td mat-cell *matCellDef="let row">{{row.result_users[0].JRSS}}</td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="result_users[0].account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
        <td mat-cell *matCellDef="let row">{{row.result_users[0].account}}</td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="userScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Result </th>
        <td mat-cell *matCellDef="let row"> <a href="#assessmentModal" style="color:rgb(0, 128, 43);" (click)="getCandidateAssessmentDetails(row.userName,row.quizNumber,row.result_users[0].employeeName,row.userScore,row.createdDate)" data-toggle="modal" *ngIf="row.userScore!=null">{{row.userScore}}%</a><p *ngIf="row.userScore==null">&nbsp;&nbsp;&nbsp;&nbsp;N/A</p>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="preTechForm">
        <th mat-header-cell *matHeaderCellDef> Pre-Technical Interview Assessment Form </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.stage2_status=='Completed'">
            <a [routerLink]="['/pre-technical-interview-form/',row.result_users[0].JRSS, row.userName]"
               [state]="{jrss:row.result_users[0].JRSS,username:row.result_users[0].username,access:'tech-list',accessLevel:this.accessLevel,account:this.account}">
              Click here
            </a>
          </div>
          <div *ngIf="row.stage2_status=='Skipped'">
            <a href="#" (click)="skipMethod()" routerLinkActive="active"  data-toggle="modal">
              Click here
            </a>
          </div>
        </td>
      </ng-container>


      <!-- ID Column -->
      <ng-container matColumnDef="cvDownload">
        <th mat-header-cell *matHeaderCellDef> CV Download </th>
        <td mat-cell *matCellDef="let row"><a href="#" (click)="downloadCandidateResume(row.userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsSector"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsSector; "[ngClass]="{gray: even}" ></tr>
    </table>
    <mat-paginator [length]="this.TechnicalInterviewList.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Technical Interview list -->
  <div class="mat-elevation-z8" *ngIf="!(account=='sector' || account=='Sector' || account=='SECTOR') && this.loginAccounts.length <= 1">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Select </th>
        <td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row.userName, row.result_users[0].employeeName, row.quizNumber)"></mat-radio-button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="result_users[0].employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"><a href="#myModal" (click)="getCandidateDetails(row.userName)" data-toggle="modal" >{{row.result_users[0].employeeName}}</a>
        </td>
      </ng-container>

     
      <!-- ID Column -->
      <ng-container matColumnDef="result_users[0].JRSS">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
        <td mat-cell *matCellDef="let row">{{row.result_users[0].JRSS}}</td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="userScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Result </th>
        <td mat-cell *matCellDef="let row"> <a href="#assessmentModal" style="color:rgb(0, 128, 43);" (click)="getCandidateAssessmentDetails(row.userName,row.quizNumber,row.result_users[0].employeeName,row.userScore,row.createdDate)" data-toggle="modal" *ngIf="row.userScore!=null">{{row.userScore}}%</a><p *ngIf="row.userScore==null">&nbsp;&nbsp;&nbsp;&nbsp;N/A</p>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="preTechForm">
        <th mat-header-cell *matHeaderCellDef> Pre Interview Form </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.stage2_status=='Completed'">
              <a [routerLink]="['/pre-technical-interview-form/',row.result_users[0].JRSS, row.userName]"
                                               [state]="{jrss:row.result_users[0].JRSS,username:row.result_users[0].username,access:'tech-list',accessLevel:this.accessLevel,account:this.account}">
              Click here
            </a>
          </div>
          <div *ngIf="row.stage2_status=='Skipped'">
            <a href="#" (click)="skipMethod()" routerLinkActive="active"  data-toggle="modal">
              Click here
            </a>
          </div>
        </td>
      </ng-container>


      <!-- ID Column -->
      <ng-container matColumnDef="cvDownload">
        <th mat-header-cell *matHeaderCellDef> CV Download </th>
        <td mat-cell *matCellDef="let row"><a href="#" (click)="downloadCandidateResume(row.userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns; "[ngClass]="{gray: even}" ></tr>
    </table>
    <mat-paginator [length]="this.TechnicalInterviewList.length" [pageSize]="5" [pageSizeOptions]="[5,10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  
  <br/>
  <div  class="float-right text-right" *ngIf="TechnicalInterviewList.length > 0">
      
        <span (click)="scheduleInterview()">
          <button mat-raised-button color="primary"  >Schedule Interview</button>
  </span>  &nbsp;
        <span (click)="exceptionalApproval()">
              <button mat-raised-button color="primary" data-toggle="modal" data-target="#myExceptionModal" >Exceptional Approval</button>
        </span>   &nbsp;
        <span (click)="initiateInterview()">
              <button mat-raised-button color="primary">Initiate Interview</button>&nbsp;
        </span>
  </div>

  
<!-- Modal Code starts. -->
<div id="assessmentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <!-- Modal content-->
    <div   class="modal-content">
      <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
        <h4 class="modal-title">Candidate Assessment Details</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayAssessmentModalBody'">
        <mat-card>
          <mat-card-content>
            <table style="table-layout: fixed; width: 100%">
              <thead>
              <tr>
                <td scope="col" width="10%">{{this.userName}}'s answers</td>
                <td scope="col" width="10%">Attempt No : {{this.quizNumber}}</td>
                <td scope="col" width="10%"> Date : {{ this.assesmentDate.substring(0,10) }}</td>
                <td scope="col" width="10%"> Score : {{ this.userScore }}%</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="4" scope="col" style="color:black;font-style: italic;">
                  You have correctly answered {{this.correctAnswerCount}} questions out of  {{this.questionCount}}
                </td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <br/>
        <div *ngFor="let answer of this.candidateAssessmentDetails.results;let i=index">
          <div *ngFor="let questions of answer.userAttemptedQs" >
            <mat-card>
              <mat-card-content>
                <table  style="table-layout: fixed; width: 100%">
                  <tbody>
                  <tr>
                    <td width="2%">
                      <div  *ngIf="answer.userAnswerID==questions.answerID">
                        <img src="assets/images/success.jpg" width="20" height="20"/>
                      </div>
                      <div  *ngIf="answer.userAnswerID!= questions.answerID">
                        <img src="assets/images/failure.jpg" width="20" height="20"/>
                      </div>
                    </td><td><b>{{i+1}}){{questions.question}}?</b></td>
                  </tr>
                  <tr></tr>
                  <tr  *ngFor="let questionOption of questions.options;let k=index">
                    <td  width="2%"></td>
                    <td>{{k+1}}){{questionOption.option}} </td>
                  </tr>
                  <tr><td  width="2%"></td>
                    <td style="color:black">Candidate Answer: {{answer.userAnswerID}}    Correct Answer:  {{questions.answerID}}
                    </td></tr>
                  <tr></tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Code Ends.-->

<div class="container" >


  <!-- Sprin8 - modal for calendar events -->
  <div class="modal fade" id="calendarModal"    tabindex="-1" data-keyboard="false" 
  data-backdrop="static"  #calendarContent>
    <div class="modal-dialog modal-lg" style="width: 1000px !important;  height:600px !important;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeCalendar()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body;" >
          <app-tech-int-scheduler  [candidateEmail]="emailSelected"  [candidateName]="calEmployeeName" >
            </app-tech-int-scheduler>

        </div>

        
      </div>
    </div>
  </div>




  <!-- The Modal -->
  <div class="modal" id="myExceptionModal"  *ngIf="showModal" #content>
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
        <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
          <h4 class="modal-title">SME Feedback:</h4>


          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form novalidate [formGroup]="smeFeedbackForm">
        <textarea class="form-control" id="inputsmeFeedback" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="smeFeedback" [ngClass]="{ 'is-invalid': submitted && myForm.smeFeedback.errors }">
        </textarea>
            <div class="col-sm-6"><i><b><font style="font-size:12px">[Max 3000 Characters]</font></b></i></div>
            <!-- error -->
            <div *ngIf="submitted && myForm.smeFeedback.errors" class="invalid-feedback">
              <div *ngIf="myForm.smeFeedback.errors.required">Enter your feedback</div>
            </div>

            <div class="form-group row">
              <label class="col-sm-6 col-form-label"></label>
              <div class="col-sm-10"></div>
              <div class="col-sm-20 text-center" style="width:1150px">
                <button type="submit" color="primary" mat-raised-button  (click)="onSubmit()">Submit</button>&nbsp;&nbsp;
                <button type="reset" color="primary" mat-raised-button>Clear</button>&nbsp;&nbsp;
                <button type="button" color="primary" mat-raised-button data-dismiss="modal">Cancel</button>

              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
          <h4 class="modal-title">View Candidate Details</h4>
          <button type="button"  class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" *ngIf="mode=='displayModalBody'">
          <mat-card>
            <mat-card-content>
          <table>
            <tr>
              <td><mat-label class="col-sm-8 col-form-label">Name:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].employeeName}}</td>
              <td><mat-label class="col-sm-8 col-form-label">Email:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].email}}</td>
            </tr>
            <tr *ngIf="displayRegularUIFields">
              <td><mat-label class="col-sm-10 col-form-label">Band:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].band}}</td>
              <td><mat-label class="col-sm-10 col-form-label">Date of Joining:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
            </tr>
            <tr>
              <td><mat-label class="col-sm-10 col-form-label">Job Role:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
              <td><mat-label class="col-sm-10 col-form-label">Technology Stream:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].technologyStream}}</td>
            </tr>
            <tr>
              <td><mat-label class="col-sm-10 col-form-label">Status:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].status}}</td>
              <td><mat-label class="col-sm-10 col-form-label">Quiz Attempts:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].quizNumber}}</td>
            </tr>
            <tr>
              <td><mat-label class="col-sm-10 col-form-label">Phone Number:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].phoneNumber}}</td>
              <td><mat-label class="col-sm-10 col-form-label">Account:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].account}}</td>
            </tr>
            <tr *ngIf="displayContractorUIFields">
              <td><mat-label class="col-sm-10 col-form-label">Date of Birth:</mat-label></td>
              <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
        </div>
        <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
          <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Code Ends.-->
