<mat-card class="login-card">
  <div class="float-left text-left" style="font-size:14pt;font-weight: bold;">Search</div>
<br/>
<mat-card-content>
<form novalidate [formGroup]="form">
  <div>
    <br>
    <table>
    <tr>
      <td>
	  <mat-form-field>
		<input matInput type="search" #candiateName formControlName="employeeName" placeholder="Name" id="search4" aria-label="Search" >
      </mat-form-field>
	  </td>
      <td>
	  <mat-form-field>
		<input matInput type="search" #jrss formControlName="jobRole" placeholder="Job Role" id="search4" aria-label="Search" >
	  </mat-form-field>
        </td>
		
	  <td>
	  <mat-form-field>
		<mat-select matInput type="search" #stage5_status formControlName="assignedToProject" placeholder="Assigned To project" (change)="updateAssignedToProjectProfile($event.target.value)"
             id="search4" aria-label="Search" >
            <mat-option value="" disabled selected >Choose...</mat-option>
            <mat-option *ngFor="let assigned of AssignedToProject" value="{{assigned}}">{{assigned}}</mat-option>
          </mat-select>
		  
		  </mat-form-field>
        </td>
    </tr>
    <tr>
        
      <td>
	  <mat-form-field>
        <mat-select matInput type="search" #userResult formControlName="userResult" placeholder="Online Test Result"  (change)="updateOnlineResultProfile($event.target.value)"
           id="search4" aria-label="Search" >
          <mat-option value="" disabled selected >Choose...</mat-option>
          <mat-option *ngFor="let onlineResult of OnlineResult" value="{{onlineResult}}">{{onlineResult}}</mat-option>
        </mat-select>
		</mat-form-field>
      </td>
	  
      <td >
	  <mat-form-field>
        <mat-select matInput type="search" #smeResult formControlName="technicalInterviewResult" placeholder="Technical Interview Result"  (change)="updateTechInterviewResultProfile($event.target.value)"
            id="search4" aria-label="Search" >
        <mat-option value="" disabled selected >Choose...</mat-option>
        <mat-option *ngFor="let techInterview of TechInterviewResult" value="{{techInterview}}">{{techInterview}} </mat-option>
      </mat-select>
	  </mat-form-field>
      </td>
	  
	  <td >
	  <mat-form-field>
        <mat-select  matInput type="search" #managementResult formControlName="partnerInterviewResult" placeholder="Partner Interview Result" (change)="updatePartnerInterviewResultProfile($event.target.value)"
                id="search4" aria-label="Search" >
          <mat-option value="" disabled selected >Choose...</mat-option>
          <mat-option *ngFor="let partnerResult of PartnerInterviewResult" value="{{partnerResult}}">{{partnerResult}} </mat-option>
        </mat-select>
		</mat-form-field>
      </td>
    
    </tr>
      <tr>
        <td>
          <mat-form-field>
		  <input matInput style="width:65%" type="date" formControlName="fromDate" placeholder="From Date"
          id="fromDate" aria-label="Search">
		  </mat-form-field>
       </td>
        <td>
		  <mat-form-field>
		  <input matInput style="width:99%" type="date" formControlName="toDate" placeholder="To Date" id="toDate"
                 aria-label="Search">
				 </mat-form-field>
				</td>
      </tr>
    </table>
	
	
	
    <mat-card-actions>
      <div class="row justify-content-center"> &nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="search(form.value)">Search</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" mat-raised-button color="primary">Clear</button>
      </div>
	</mat-card-actions>  </div>
</form>
</mat-card-content>
</mat-card>


