<nav class="navbar navbar-expand-lg navbar-light table-success" style="background-color:powderblue">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"><b>Initiate Partner Interview</b></a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active"><b>Logout</b></a>
      </li>
    </ul>
  </div>
</nav>
<br/>
  <div>
    <div class="card">
    <div class="modal-header" style="background-color:powderblue"><b>View Candidate Details</b></div>
    <div class="card-body">
    <table>
      <tbody>
      <tr>
        <td  width="25%"><label>Name:</label></td>
        <td  width="25%">{{this.partnerInterviewDetails[0].result_users[0].employeeName}}</td>
        <td  width="25%"><label>Job Role:</label></td>
        <td  width="25%">{{this.partnerInterviewDetails[0].result_users[0].JRSS}}</td>
      </tr>
      <tr>
        <td  width="25%"><label>Technology Stream:</label></td>
        <td  width="25%">{{this.partnerInterviewDetails[0].result_users[0].technologyStream}}</td>
        <td  width="25%"><label>Online Test Result:</label></td>
        <td  width="25%" *ngIf="this.partnerInterviewDetails[0].userScore!=null">{{this.partnerInterviewDetails[0].userScore}}%</td>
        <p *ngIf="this.partnerInterviewDetails[0].userScore==null">N/A</p>
      </tr>
      <tr>
        <td  width="25%"><label>You can download CV here:</label></td>
        <td width="20%"><a href="#" (click)="downloadCandidateResume(this.partnerInterviewDetails[0].userName)" routerLinkActive="active" class="col-4 cursor-pointer" data-toggle="modal">Click here</a></td>        
        <td  width="25%"><label>You can access the Pre-Technical-Interview form here:</label></td>
        <td *ngIf="this.partnerInterviewDetails[0].stage2_status=='Skipped'" width="20%"><a href="#" (click)="skipMethod()" routerLinkActive="active"  class="col-4 cursor-pointer" data-toggle="modal">Click here</a></td>
        <td *ngIf="this.partnerInterviewDetails[0].stage2_status=='Completed'">
            <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.partnerInterviewDetails[0].result_users[0].JRSS, this.partnerInterviewDetails[0].userName]" [state]="{jrss:this.partnerInterviewDetails[0].result_users[0].JRSS,username:this.partnerInterviewDetails[0].result_users[0].username,access:'partner-interview-initiate',accessLevel:this.accessLevel}">
              <td  width="25%"><a href="#" routerLinkActive="active">Click here</a></td>
            </a>
        </td>         </tr>
      <tr *ngIf="displayTechInterviewFields">
        <td  width="25%"><label>Technical Interview Score:</label></td>
        <td  width="25%">{{this.partnerInterviewDetails[0].avgTechScore}}/10</td>
        <td  width="25%"><label>Technical Interview Result:</label></td>
        <td  width="25%">{{this.partnerInterviewDetails[0].smeResult}}</td>
      </tr>
      <tr *ngIf="displayTechInterviewFields">
        <td  width="25%"><label>Technical Interview Feedback:</label></td>
        <td  colspan="3" width="75%"><textarea type="textArea" maxlength="3000" cols="90" disabled readonly value="{{this.partnerInterviewDetails[0].smeFeedback}}"></textarea></td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>

  <br>
  <div class="card">
  <div  style="background-color:powderblue" class="card-header" ><b>Please enter feedback here</b></div>
  <div class="card-body">

    <form [formGroup]="partnerFeedbackForm" (ngSubmit)="onSubmit(this.partnerInterviewDetails[0]._id)" >
      <div class="form-group row">
        <label for="inputFinalResult" class="col-sm-4 col-form-label">Final Result:</label>
        <div class="col-sm-4" style="size:50px">
          <select class="custom-select form-control" (change)="updateFinalResult($event.target.value)"
                  formControlName="finalResult" id="inputFinalResult" [ngClass]="{ 'is-invalid': submitted && myForm.finalResult.errors }">
            <option value="">Choose...</option>
            <option *ngFor="let finalResult of FinalResult" value="{{finalResult}}">{{finalResult}}
            </option>
          </select>
          <div *ngIf="submitted && myForm.finalResult.errors" class="invalid-feedback">
            <div *ngIf="myForm.finalResult.errors.required">Final Result is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPartnerFeedback" class="col-sm-4 col-form-label">Partner Feedback:</label>
        <div class="col-sm-8">
        <textarea class="form-control" id="inputPartnerFeedback" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="partnerFeedback" [ngClass]="{ 'is-invalid': submitted && myForm.partnerFeedback.errors }">
        </textarea>
          <div class="col-sm-6"><i><b><font style="font-size:12px">[Max 3000 Characters]</font></b></i></div>
          <!-- error -->
        <div *ngIf="submitted && myForm.partnerFeedback.errors" class="invalid-feedback">
          <div *ngIf="myForm.partnerFeedback.errors.required">Enter your feedback</div>
        </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-6 col-form-label"></label>
          <div class="col-sm-10"></div>
          <div class="col-sm-20 text-center" style="width:1150px">
          <button type="submit" style="background-color:#0043CE;" class="btn btn-success btn-sm">Submit</button>&nbsp;&nbsp;
          <button type="button" style="background-color:#0043CE;" class="btn btn-success btn-sm" (click)="resetForm()">Clear</button>&nbsp;&nbsp;
          <button type="button" style="background-color:#0043CE;" class="btn btn-success btn-sm" (click)="cancelForm()">Cancel</button>
          &nbsp;&nbsp;
          <button type="button"style="background-color:#0043CE;" class="btn btn-success btn-sm" (click)="exceptionalApproval(this.partnerInterviewDetails[0].userName,this.partnerInterviewDetails[0].quizNumber)">Exceptional Approval</button>
          </div>
        </div>

      </div>

    </form>
  </div>
  </div>
  </div>



