<p style="text-align:right; font-family: cursive; font-size: 120%;"><b>Welcome, {{name}}!!</b></p>
<mat-toolbar>
  <mat-toolbar-row>
    <span><a mat-button  routerLink="#" routerLinkActive="active">Initiate Partner Interview</a></span>
    <span class="flexExpand">
    <a  mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div>
  <div class="card">
    <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">View Candidate Details</div>
    <div class="card-body">
      <mat-card class="login-card">
        <mat-card-content>
      <table class="fixedTable">
        <tbody>
        <tr>
          <td style="width:25%"><mat-label>Name:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].employeeName}}</td>
          <td style="width:25%"><mat-label>Job Role:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].JRSS}}</td>
        </tr>
        <tr>
          <td style="width:25%"><mat-label>Technology Stream:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].technologyStream}}</td>
          <td style="width:25%"><mat-label>Online Test Result:</mat-label></td>
          <td style="width:25%">
              <div *ngIf="this.partnerInterviewDetails[0].userScore!=null">
                {{this.partnerInterviewDetails[0].userScore}}%
              </div>
              <div *ngIf="this.partnerInterviewDetails[0].userScore==null">
                N/A
              </div>
          </td>
        </tr>
        <tr>
          <td style="width:25%"><mat-label>Download CV:</mat-label></td>
          <td style="width:25%"><a href="#" (click)="downloadCandidateResume(this.partnerInterviewDetails[0].userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
          <td style="width:25%"><mat-label>Pre Interview Form:</mat-label></td>
          <td style="width:25%">
            <a *ngIf="this.partnerInterviewDetails[0].stage2_status=='Skipped'" href="#" (click)="skipMethod()" routerLinkActive="active" data-toggle="modal">Click here</a>
            <div *ngIf="this.partnerInterviewDetails[0].stage2_status=='Completed'">
              <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.partnerInterviewDetails[0].result_users[0].JRSS, this.partnerInterviewDetails[0].userName, this.partnerInterviewDetails[0].result_users[0].account]" [state]="{jrss:this.partnerInterviewDetails[0].result_users[0].JRSS,username:this.partnerInterviewDetails[0].result_users[0].username,access:'partner-interview-initiate',accessLevel:this.accessLevel,account:this.account}">
              Click here
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td style="width:25%"><mat-label>Technical Interview Score:</mat-label></td>
          <td style="width:25%">
            <div *ngIf="this.partnerInterviewDetails[0].avgTechScore != null">
            {{this.partnerInterviewDetails[0].avgTechScore}}/10
            </div>
            <div *ngIf="this.partnerInterviewDetails[0].avgTechScore == null">
              N/A
            </div>
          </td>
          <td style="width:25%"><mat-label>Technical Interview Result:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].smeResult}}</td>
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td style="width:25%"><mat-label>Technical Interview Feedback:</mat-label></td>
          <td  colspan="3" style="width:75%" class="wrappable">{{this.partnerInterviewDetails[0].smeFeedback}}</td>
        </tr>
        <tr >
          <td style="width:25%"><mat-label>Account:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].account}}</td>
          <td style="width:25%"><mat-label>Employee Type:</mat-label></td>
          <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].employeeType}}</td>
        </tr>
        </tbody>
      </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div id="positionListModal" class="card" >
    <br>
    <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt" *ngIf="employeeType == 'Regular'">
      Open Position and Gross Profit Details
    </div>
    <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt" *ngIf="employeeType == 'Contractor'">
      Open Position Details
    </div>
    <div class="card-body"  >
      <mat-card class="login-card">
        <mat-card-content>
          <table class="fixedTable">
            <tbody>
            <tr *ngIf="displayPositionDropDown">
              <td style="width:25%">
                <mat-form-field class="open-full-width">
                  <mat-select placeholder="Open Position"  [(ngModel)]= "positionID"  name= "positionID"
                              (selectionChange)="getSelectedPositionDetails($event.value)"
                              id="positionID" >
                    <mat-option value="undefined" disabled selected >Select a position</mat-option>
                    <mat-option *ngFor="let openPosition of openPositionsList" value="{{openPosition.positionID}}">{{openPosition.positionName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td style="width:25%"></td>
              <td style="width:25%"></td>
              <td style="width:25%"></td>
            </tr>
            <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
              <td style="width:25%"><mat-label>Position Name:</mat-label></td>
              <td style="width:25%">{{positionDetails.positionName}}</td>
              <td style="width:25%"><mat-label>Position ID:</mat-label></td>
              <td style="width:25%">{{positionDetails.positionID}}</td>
            </tr>
            <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
              <td style="width:25%"><mat-label>Line of Business:</mat-label></td>
              <td style="width:25%">{{positionDetails.lineOfBusiness}}</td>
              <td style="width:25%"><mat-label>Position Location:</mat-label></td>
              <td style="width:25%">{{positionDetails.positionLocation}}</td>
            </tr>
            <tr *ngIf="displayPositionDetails || positionID != undefined || positionID != null">
              <td style="width:25%"><mat-label>Rate Card Role:</mat-label></td>
              <td style="width:25%">{{positionDetails.rateCardJobRole}}</td>
              <td style="width:25%"><mat-label>Competency Level:</mat-label></td>
              <td style="width:25%">{{positionDetails.competencyLevel}}</td>
            </tr>
            <tr *ngIf="employeeType == 'Regular'">
              <td colspan="4" style="width:100%"><hr class="class-1"></td>
            </tr>
            <br/>
            <tr *ngIf="employeeType == 'Regular'">
              <td style="width:25%"><mat-label>Candidate Line Of Business:</mat-label></td>
              <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].userLOB}}</td>
              <td style="width:25%"><mat-label>Band</mat-label></td>
              <td style="width:25%">{{this.partnerInterviewDetails[0].result_users[0].band}}</td>
            </tr>
            <br/>
            <tr *ngIf="employeeType == 'Regular'">
              <td style="width:25%">
                <mat-form-field class="open-full-width">
                  <mat-select placeholder="Candidate Location:" id="candidateLocation"  name= "candidateLocation"
                              [(ngModel)]= "candidateLocation" (selectionChange)="updateUserPositionLocationProfile($event.value)" >
                    <mat-option value="" disabled selected >Select a location</mat-option>
                    <mat-option *ngFor="let data of UserPositionLocation" value="{{data.positionLocation}}" >{{data.positionLocation}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td style="width:25%"><mat-label>Gross Profit(%):</mat-label></td>
              <td style="width:25%"> {{grossProfit}}</td>
              <td style="width:25%"></td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


      <br>
      <div class="card">
        <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">Please enter feedback here</div>
        <div class="card-body">

          <form [formGroup]="partnerFeedbackForm" (ngSubmit)="onSubmit(this.partnerInterviewDetails[0]._id)" >
            <mat-card class="login-card">
              <mat-card-content>
                <table class="fixedTable">
                  <tr>
                    <td style="width:50%">
                      <mat-form-field class="question-full-width">
                        <mat-select placeholder="Final Result" (selectionChange)="updateFinalResult($event.target.value)"
                                formControlName="finalResult" id="inputFinalResult" [ngClass]="{ 'is-invalid': submitted && myForm.finalResult.errors }">
                          <mat-option value="">Choose...</mat-option>
                          <mat-option *ngFor="let finalResult of FinalResult" value="{{finalResult}}">{{finalResult}}
                          </mat-option>
                        </mat-select>
                        <div *ngIf="submitted && myForm.finalResult.errors" class="invalid-feedback">
                          <div *ngIf="myForm.finalResult.errors.required">Final Result is required</div>
                        </div>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:100%">
                      <mat-form-field class="open-full-width">
                       <textarea matInput placeholder="Partner Feedback[Max 3000 Characters]" class="form-control" id="inputPartnerFeedback" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="partnerFeedback" [ngClass]="{ 'is-invalid': submitted && myForm.partnerFeedback.errors }">
                       </textarea>
                        <div *ngIf="submitted && myForm.partnerFeedback.errors" class="invalid-feedback">
                          <div *ngIf="myForm.partnerFeedback.errors.required">Enter your feedback</div>
                        </div>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
            <br/>
            <div class="text-center" style="width: 1000px">
                  <button type="submit" mat-raised-button  color="primary">Submit</button>&nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="resetForm()">Clear</button>&nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="cancelForm()">Cancel</button>
                  &nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="exceptionalApproval(this.partnerInterviewDetails[0].userName,this.partnerInterviewDetails[0].quizNumber)">Exceptional Approval</button>
            </div>
          </form>
        </div>
      </div>
    </div>





