<mat-toolbar>
  <mat-toolbar-row>
    <span><a mat-button  routerLink="#" routerLinkActive="active">Initiate Partner Interview</a></span>
    <span class="flexExpand">
    <a  mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div>
  <div class="card">
    <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">View Candidate Details</div>
    <div class="card-body">
      <mat-card class="login-card">
        <mat-card-content>
      <table>
        <tbody>
        <tr>
          <td><mat-label>Name:</mat-label></td>
          <td>{{this.partnerInterviewDetails[0].result_users[0].employeeName}}</td>
          <td><mat-label>Job Role:</mat-label></td>
          <td>{{this.partnerInterviewDetails[0].result_users[0].JRSS}}</td>
        </tr>
        <tr>
          <td><mat-label>Technology Stream:</mat-label></td>
          <td>{{this.partnerInterviewDetails[0].result_users[0].technologyStream}}</td>
          <td><mat-label>Online Test Result:</mat-label></td>
          <td>
              <div *ngIf="this.partnerInterviewDetails[0].userScore!=null">
                {{this.partnerInterviewDetails[0].userScore}}%
              </div>
              <div *ngIf="this.partnerInterviewDetails[0].userScore==null">
                N/A
              </div>
          </td>
        </tr>
        <tr>
          <td><mat-label>Download CV:</mat-label></td>
          <td><a href="#" (click)="downloadCandidateResume(this.partnerInterviewDetails[0].userName)" routerLinkActive="active" data-toggle="modal">Click here</a></td>
          <td><mat-label>Pre Interview Form:</mat-label></td>
          <td><a *ngIf="this.partnerInterviewDetails[0].stage2_status=='Skipped'" href="#" (click)="skipMethod()" routerLinkActive="active" data-toggle="modal">Click here</a>
            <div *ngIf="this.partnerInterviewDetails[0].stage2_status=='Completed'">
              <a class="edit" [routerLink]="['/pre-technical-interview-form/',this.partnerInterviewDetails[0].result_users[0].JRSS, this.partnerInterviewDetails[0].userName]" [state]="{jrss:this.partnerInterviewDetails[0].result_users[0].JRSS,username:this.partnerInterviewDetails[0].result_users[0].username,access:'partner-interview-initiate',accessLevel:this.accessLevel,account:this.account}">
              Click here
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td><mat-label>Technical Interview Score:</mat-label></td>
          <td>
            <div *ngIf="this.partnerInterviewDetails[0].avgTechScore != null">
            {{this.partnerInterviewDetails[0].avgTechScore}}/10
            </div>
            <div *ngIf="this.partnerInterviewDetails[0].avgTechScore == null">
              N/A
            </div>
          </td>
          <td><mat-label>Technical Interview Result:</mat-label></td>
          <td>{{this.partnerInterviewDetails[0].smeResult}}</td>
        </tr>
        <tr *ngIf="displayTechInterviewFields">
          <td><mat-label>Technical Interview Feedback:</mat-label></td>
          <td  colspan="3"><textarea matInput type="textArea" maxlength="3000" cols="90" disabled readonly value="{{this.partnerInterviewDetails[0].smeFeedback}}"></textarea></td>
        </tr>
        </tbody>
      </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt">
        <h6 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" (click)="getOpenPositionDetails()" style="color:white;font-size:10pt">Calculate Gross Profit(Optional)</a>
        </h6>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <mat-card>
            <mat-card-content>
              <p><b>Please select Open Position</b></p>
          <form [formGroup]="myOpenPositionGroup">
          <table>
            <tbody>
            <tr>
              <td>
                    <mat-form-field class="open-full-width">
                    <mat-select placeholder="Open Position" (selectionChange)="updateOpenPositionProfile($event.value)"
                            formControlName="positionName" id="inputPositionName" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.positionName.errors }">
                      <mat-option value="">Choose...</mat-option>
                      <mat-option *ngFor="let data of OpenPositions" value="{{data.positionName}}">{{data.positionName}}</mat-option>
                    </mat-select>
                    <div *ngIf="!formReset && submitted && myOpenForm.positionName.errors" class="invalid-feedback">
                      <div *ngIf="myOpenForm.positionName.errors.required">Open Position is required</div>
                    </div>
                  </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="displayPositionDetails">
              <td><mat-label>Position ID:</mat-label></td>
              <td>{{this.positionID}}</td>
              <td><mat-label>Line Of Business:</mat-label></td>
              <td>{{this.lineOfBusiness}}</td>
            </tr>
            <tr *ngIf="displayPositionDetails">
              <td><mat-label>Position Location:</mat-label></td>
              <td>{{this.positionLocation}}</td>
              <td><mat-label>Rate Card Job Role:</mat-label></td>
              <td>{{this.rateCardJobRole}}</td>
            </tr>
            <tr *ngIf="displayPositionDetails">
              <td><mat-label>Competency Level:</mat-label></td>
              <td>{{this.competencyLevel}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="4"><hr class="class-1"></td>
            </tr>
            <tr>
              <td colspan="3"><b>Please select Candidate Location</b></td>
            </tr>
            <br/>
            <tr>
              <td><mat-label>Candidate Line Of Business:</mat-label></td>
              <td>{{this.partnerInterviewDetails[0].result_users[0].userLOB}}</td>
              <td><mat-label>Band</mat-label></td>
              <td>{{this.partnerInterviewDetails[0].result_users[0].band}}</td>
            </tr>
            <br/>
            <tr>
              <td>
                <mat-form-field>
                  <mat-select placeholder="Candidate Location" (selectionChange)="updateUserPositionLocationProfile($event.value)" id="inputUserPositionLocation" formControlName="userPositionLocation"
                              [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.userPositionLocation.errors }">
                    <mat-option value="">Choose...</mat-option>
                    <mat-option *ngFor="let data of UserPositionLocation" value="{{data.positionLocation}}" >{{data.positionLocation}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td><mat-label>Gross Profit(%):</mat-label></td>
              <td> {{grossProfit}}</td>
              <td>
                    <button mat-raised-button color="primary" type="button" (click)="calculateGP()">Calculate GP</button>
              </td>
            </tr>
            </tbody>
          </table>
          </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <br>
      <div class="card">
        <div style="background-color:#2554C7;color:white;font-size:10pt" class="card-header">Please enter feedback here</div>
        <div class="card-body">

          <form [formGroup]="partnerFeedbackForm" (ngSubmit)="onSubmit(this.partnerInterviewDetails[0]._id)" >
            <mat-card class="login-card">
              <mat-card-content>
                <table>
                  <tr>
                    <td>
                      <mat-form-field class="question-full-width">
                        <mat-select placeholder="Final Result" (selectionChange)="updateFinalResult($event.target.value)"
                                formControlName="finalResult" id="inputFinalResult" [ngClass]="{ 'is-invalid': submitted && myForm.finalResult.errors }">
                          <mat-option value="">Choose...</mat-option>
                          <mat-option *ngFor="let finalResult of FinalResult" value="{{finalResult}}">{{finalResult}}
                          </mat-option>
                        </mat-select>
                        <div *ngIf="submitted && myForm.finalResult.errors" class="invalid-feedback">
                          <div *ngIf="myForm.finalResult.errors.required">Final Result is required</div>
                        </div>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="open-full-width">
                       <textarea matInput placeholder="Partner Feedback[Max 3000 Characters]" class="form-control" id="inputPartnerFeedback" type="textarea" rows="5" cols="50"  maxlength="3000" formControlName="partnerFeedback" [ngClass]="{ 'is-invalid': submitted && myForm.partnerFeedback.errors }">
                       </textarea>
                        <div *ngIf="submitted && myForm.partnerFeedback.errors" class="invalid-feedback">
                          <div *ngIf="myForm.partnerFeedback.errors.required">Enter your feedback</div>
                        </div>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
            <br/>
            <div class="text-center" style="width: 1000px">
                  <button type="submit" mat-raised-button  color="primary">Submit</button>&nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="resetForm()">Clear</button>&nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="cancelForm()">Cancel</button>
                  &nbsp;&nbsp;
                  <button type="button" mat-raised-button  color="primary" (click)="exceptionalApproval(this.partnerInterviewDetails[0].userName,this.partnerInterviewDetails[0].quizNumber)">Exceptional Approval</button>
            </div>
          </form>
        </div>
      </div>
    </div>





