<app-navigation></app-navigation>
<br/>
<div>
    <h4 class="my-0 mr-md-auto font-weight-normal">Update Test Configuration</h4>
    <br/>
</div>
<mat-card class="login-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="testConfigEditForm">
      <table class="open-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="open-full-width">
              <mat-select [(ngModel)]="account" placeholder="Account" (selectionChange)="readJrssByAccount($event.value)"
                      formControlName="account" name="account"  required [ngClass]="{ 'is-invalid': submitted && myForm.account.errors }">
                <mat-option value="">Choose...</mat-option>
                <mat-option *ngFor="let account of accounts" value="{{account}}">{{account}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && myForm.account.errors" class="invalid-feedback">
                <div *ngIf="myForm.account.errors.required">Account is required</div>
              </div>
            </mat-form-field>
          </td>
         
        </tr>

        <tr>
          <td>
            <mat-form-field class="open-full-width">
              <mat-select placeholder="Job Role" (change)="updateJrssProfile($event.target.value)"
                          required formControlName="JRSS" name="JRSS" [ngClass]="{ 'is-invalid': submitted && myForm.JRSS.errors }">
                <mat-option value="">Choose...</mat-option>
                <mat-option *ngFor="let jrss of filteredJrss" value="{{jrss.jrss}}">{{jrss.jrss}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback">
                <div *ngIf="myForm.JRSS.errors.required">Job Role is required</div>
              </div>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="open-full-width">
              <input matInput placeholder="Number of Questions" required formControlName="noOfQuestions" name="noOfQuestions" [ngClass]="{ 'is-invalid': submitted && myForm.noOfQuestions.errors }" maxlength="3" minlength="1">
              <div *ngIf="submitted && myForm.noOfQuestions.errors" class="invalid-feedback">
                <div *ngIf="myForm.noOfQuestions.errors.required">Number of Questions is required</div>
                <div *ngIf="myForm.noOfQuestions.errors.pattern">Invalid Number of Questions</div>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="open-full-width">
              <input matInput placeholder="Test Duration(in Minutes)" required formControlName="testDuration" name="testDuration" [ngClass]="{ 'is-invalid': submitted && myForm.testDuration.errors }" maxlength="10" minlength="2">
              <div *ngIf="submitted && myForm.testDuration.errors" class="invalid-feedback">
                <div *ngIf="myForm.testDuration.errors.required">Test Duration is required</div>
                <div *ngIf="myForm.testDuration.errors.pattern">Invalid Test Duration</div>
              </div>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="open-full-width">
              <input matInput placeholder="Passing Score(in Percentage)" required formControlName="passingScore" name="passingScore" [ngClass]="{ 'is-invalid': submitted && myForm.passingScore.errors }" maxlength="3" minlength="1">
              <div *ngIf="submitted && myForm.passingScore.errors" class="invalid-feedback">
                <div *ngIf="myForm.passingScore.errors.required">Passing Score is required</div>
                <div *ngIf="myForm.passingScore.errors.pattern">Invalid Passing Score</div>
              </div>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <br/>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Update</button>
      <button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
<br/>
<div>
  <h4 class="my-0 mr-md-auto font-weight-normal">Test Configuration List</h4>
</div>
<br/>
<!-- No data message -->
<p *ngIf="TestConfigs.length <= 0" class="no-data text-center">There are no records added yet!</p>
<div class="mat-elevation-z8"  *ngIf="this.accounts.length <= 1">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
      <td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row._id)"></mat-radio-button></td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="JRSS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row">{{row.JRSS}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="noOfQuestions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of Questions </th>
      <td mat-cell *matCellDef="let row">{{row.noOfQuestions}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="testDuration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Duration(in Minutes) </th>
      <td mat-cell *matCellDef="let row">{{row.testDuration}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="passingScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Passing Score(in Percentage) </th>
      <td mat-cell *matCellDef="let row">{{row.passingScore}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
  </table>
  <mat-paginator [length]="this.dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="mat-elevation-z8"  *ngIf="this.accounts.length > 1">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
      <td mat-cell *matCellDef="let row"> <mat-radio-button (change)="onSelectionChange(row._id)"></mat-radio-button></td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="JRSS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row">{{row.JRSS}}</td>
    </ng-container>
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row">{{row.account}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="noOfQuestions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of Questions </th>
      <td mat-cell *matCellDef="let row">{{row.noOfQuestions}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="testDuration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Duration(in Minutes) </th>
      <td mat-cell *matCellDef="let row">{{row.testDuration}}</td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="passingScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Passing Score(in Percentage) </th>
      <td mat-cell *matCellDef="let row">{{row.passingScore}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithAccount"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsWithAccount;" [ngClass]="{gray: even}"></tr>
  </table>
  <mat-paginator [length]="this.dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br/>
<div  class="float-right text-right" *ngIf="TestConfigs.length > 0">
    <span class="edit" (click)="editTestConfig()">
    <button mat-raised-button color="primary">Edit</button>&nbsp;
    </span>
</div>
