<app-navigation></app-navigation>
<br/>
<div>
	<h4 class="my-0 mr-md-auto font-weight-normal">Add Candidate</h4>
	<br/>
</div>

<!-- form Test Config -->
<mat-card class="login-card">
	<mat-card-header></mat-card-header>
	<mat-card-content>
		<form [formGroup]="candidateForm">
		  <table>
		  		<tr>
            <td width="33%">
              <!-- Account -->
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Account" (selectionChange)="updateAccountProfile($event.value)"
                            formControlName="account"  [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.account.errors }">
                  <mat-option *ngFor="let account of AccountArray" value="{{account}}" >{{account}}</mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.account.errors" class="invalid-feedback">
                  <div *ngIf="myForm.account.errors.required">Account is required</div>
                </div>
              </mat-form-field>
            </td>
            <td width="33%">
              <!-- Name -->
              <mat-form-field class="open-full-width">
                <input matInput placeholder="Name" formControlName="employeeName" name="employeeName" required [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.employeeName.errors }">
                <div *ngIf="!formReset && submitted && myForm.employeeName.errors" class="invalid-feedback">
                  <div *ngIf="myForm.employeeName.errors.required">Name is required</div>
                </div>
              </mat-form-field>  
            </td>
            <td width="33%">
              <!-- Type -->
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Type" (selectionChange)="updateEmployeeTypeProfile($event.value)"
                            formControlName="employeeType" name="employeeType" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.employeeType.errors }">
                  <mat-option *ngFor="let employeeType of EmployeeType" value="{{employeeType}}">{{employeeType}}</mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.employeeType.errors" class="invalid-feedback">
                  <div *ngIf="myForm.employeeType.errors.required">User Type is required</div>
                </div>
              </mat-form-field>
            </td>
          </tr>          
          <tr>
            <td width="33%">
              <!-- Email -->
              <mat-form-field class="open-full-width">
                <input matInput placeholder="Email [This field is used as username.]" type="text" formControlName="email" id="inputEmail3" [ngClass]="{ 'is-invalid': submitted && myForm.email.errors }">
                  <div *ngIf="submitted && myForm.email.errors" class="invalid-feedback">
                      <div *ngIf="myForm.email.errors.required">Email is required</div>
                        <div *ngIf="myForm.email.errors.pattern">Invalid Email</div>
                      </div>
              </mat-form-field>
           </td>
            <td width="33%">
              <!-- Job Role -->
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Job Role"  (selectionChange)="updateJrssProfile($event.value)"
                            formControlName="JRSS" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.JRSS.errors }">

                  <mat-option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
                  </mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.JRSS.errors" class="invalid-feedback">
                  <div *ngIf="myForm.JRSS.errors.required">Job Role is required</div>
                </div>
              </mat-form-field>
            </td>
            <td width="33%">
              <!-- Technology Stream -->
              <mat-form-field class="open-full-width">
                <mat-select multiple placeholder="Technology Stream"  formControlName="technologyStream" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.technologyStream.errors }">
                  <mat-option *ngFor="let data of technologyStream" value="{{data.value}}" >{{data.value}}</mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.technologyStream.errors" class="invalid-feedback">
                  <div *ngIf="myForm.technologyStream.errors.required">Technology Stream is required</div>
                </div>
              </mat-form-field>
            </td>
        </tr>
        <tr>
          <td width="33%" >
            <!-- Candidate Line Of Business -->
            <div  *ngIf="displayRegularUIFields">
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Candidate Line Of Business"  (selectionChange)="updateUserLOBProfile($event.value)"
                            formControlName="userLOB" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.userLOB.errors }">
                  <mat-option *ngFor="let userLOB of UserLOB" value="{{userLOB.lob}}">{{userLOB.lob}}
                  </mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.userLOB.errors" class="invalid-feedback">
                  <div *ngIf="myForm.userLOB.errors.required">Candidate Line Of Business is required</div>
                </div>
              </mat-form-field>
            </div>
          </td>
          <td width="33%">
            <!-- Candidate Location -->
            <div  *ngIf="displayRegularUIFields">
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Candidate Location"  (selectionChange)="updateUserPositionLocationProfile($event.value)"
                            formControlName="userPositionLocation" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.userPositionLocation.errors }">

                  <mat-option *ngFor="let data of UserPositionLocation" value="{{data.positionLocation}}">{{data.positionLocation}}
                  </mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.userPositionLocation.errors" class="invalid-feedback">
                  <div *ngIf="myForm.userPositionLocation.errors.required">Candidate Location is required</div>
                </div>
              </mat-form-field>
            </div>
          </td>
          <td width="33%">
            <!-- Candidate Location -->
            <div  *ngIf="displayRegularUIFields">
              <mat-form-field class="open-full-width">
                <mat-select placeholder="Band"  (selectionChange)="updateBandProfile($event.value)"
                            formControlName="band" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.band.errors }">
                  <mat-option *ngFor="let band of Band" value="{{band.band}}">{{band.band}}</mat-option>
                </mat-select>
                <div *ngIf="!formReset && submitted && myForm.band.errors" class="invalid-feedback">
                  <div *ngIf="myForm.band.errors.required">Band is required</div>
                </div>
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td width="33%">
            <!-- Mobile No -->
            <mat-form-field class="open-full-width">
              <input matInput placeholder="Mobile No" formControlName="phoneNumber" name="phoneNumber" minlength="10" maxlength="10" required [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.phoneNumber.errors }">
              <div *ngIf="!formReset && submitted && myForm.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="myForm.phoneNumber.errors.required">Mobile No is required</div>
                <div *ngIf="myForm.phoneNumber.errors.pattern || myForm.phoneNumber.errors.minlength">Phone number must be of 10 digits</div>                
              </div>
            </mat-form-field>
          </td>
          <td width="33%">
            <!-- Date of Birth -->
            <div  *ngIf="displayContractorUIFields">
              <mat-form-field class="open-full-width">
                <input matInput type="date"  placeholder="Date of Birth" formControlName="dateOfJoining"  required [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.dateOfJoining.errors }">
                <div *ngIf="!formReset && submitted && myForm.dateOfJoining.errors" class="invalid-feedback">
                  <div *ngIf="myForm.dateOfJoining.errors.required">Date of Birth is required</div>
                </div>
              </mat-form-field>
            </div>
            <div  *ngIf="displayRegularUIFields">
              <mat-form-field class="open-full-width">
                <input matInput type="date"  placeholder="Date of Joining" formControlName="dateOfJoining"  required [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.dateOfJoining.errors }">
                <div *ngIf="!formReset && submitted && myForm.dateOfJoining.errors" class="invalid-feedback">
                  <div *ngIf="myForm.dateOfJoining.errors.required">Date of Joining is required</div>
                </div>
              </mat-form-field>
            </div>
          </td>
          <td width="33%">
            <!-- Candidate Resume -->
            <div class="form-group row">
              &nbsp;&nbsp;&nbsp;
              <mat-label>Resume</mat-label>&nbsp;&nbsp;&nbsp;
              <input type="file" formControlName="candidateResume" id="candidateResumeID" (change)="addResume($event)" size="50">
            </div>
          </td>&nbsp;
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
        <br/>

      <div  *ngIf="displayRegularUIFields">
              <div class="card-header" style="background-color:#2554C7;color:white;font-size:10pt">
                  <a data-toggle="collapse" href="#collapse1" (click)="getOpenPositionDetails()" style="color:white;font-size:10pt">Calculate Gross Profit(Optional)</a>
              </div>
          <div id="collapse1" class="panel-collapse collapse" *ngIf="displayGPCalculate">
              <mat-card>
                <mat-card-content>
                  <p><b>Please select Open Position</b></p>
                  <form [formGroup]="myOpenPositionGroup">
                    <table>
                      <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="open-full-width">
                          <mat-select placeholder="Open Position"  (selectionChange)="updateOpenPositionProfile($event.value)"
                          formControlName="positionName" id="inputPositionName" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.positionName.errors }">
                          <mat-option *ngFor="let data of OpenPositions" value="{{data.positionName}}">{{data.positionName}} </mat-option>
                          </mat-select>
                          <div *ngIf="!formReset && submitted && myOpenForm.positionName.errors" class="invalid-feedback">
                            <div *ngIf="myOpenForm.positionName.errors.required">Open Position is required</div>
                          </div>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr *ngIf="displayPositionDetails">
                    <td><mat-label>Position ID:</mat-label></td>
                    <td>{{this.positionID}}</td>
                    <td><mat-label>Line Of Business:</mat-label></td>
                    <td>{{this.lineOfBusiness}}</td>
                  </tr>
                  <tr *ngIf="displayPositionDetails">
                    <td><mat-label>Position Location:</mat-label></td>
                    <td>{{this.positionLocation}}</td>
                    <td><mat-label>Rate Card Job Role:</mat-label></td>
                    <td>{{this.rateCardJobRole}}</td>
                  </tr>
                  <tr *ngIf="displayPositionDetails">
                    <td><mat-label>Competency Level:</mat-label></td>
                    <td>{{this.competencyLevel}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="4"><hr class="class-1"></td>
                  </tr>
                  <tr>
                    <td colspan="4"><b>Please select Candidate Location</b></td>
                  </tr>
                  <br/>
                   <tr>
                    <td>
                      <mat-form-field class="open-full-width">
                          <mat-select placeholder="Candidate Line Of Business"  (selectionChange)="updateGPUserLOBProfile($event.value)"
                          formControlName="gpUserLOB" id="inputGPUserLOB" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.gpUserLOB.errors }">
                          <mat-option *ngFor="let userLOB of UserLOB" value="{{userLOB.lob}}">{{userLOB.lob}} </mat-option>
                          </mat-select>
                          </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="open-full-width">
                        <div [formGroup]="myOpenPositionGroup" >
                          <mat-select placeholder="Candidate Location" (selectionChange)="updateGPUserPositionLocationProfile($event.value)"  
                          formControlName="gpUserPositionLocation" id="inputGPUserPositionLocation" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.gpUserPositionLocation.errors }">
                          <mat-option *ngFor="let data of UserPositionLocation" value="{{data.positionLocation}}" >{{data.positionLocation}} </mat-option>
                          </mat-select>
                        </div>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="open-full-width">
                        <div [formGroup]="myOpenPositionGroup" >
                          <mat-select placeholder="Band" (selectionChange)="updateGPUserBandProfile($event.value)"  
                          formControlName="gpUserBand" id="inputGpUserBand" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.gpUserBand.errors }">
                          <mat-option *ngFor="let band of Band" value="{{band.band}}">{{band.band}} </mat-option>
                          </mat-select>
                        </div>
                      </mat-form-field>
                    </td>
                    <td><mat-label>Gross Profit(%):&nbsp;</mat-label>{{gp}}</td>
                    <td>
                        <button type="button" mat-raised-button color="primary" (click)="calculateGP(this.myOpenPositionGroup.value.gpUserPositionLocation,this.myOpenPositionGroup.value.gpUserLOB,this.myOpenPositionGroup.value.gpUserBand,this.myOpenPositionGroup.value.positionName)">Calculate GP</button>
                    </td>
                    <td></td>
                  </tr>
              </tbody>
              </table>
                  </form>
                </mat-card-content>
              </mat-card>
          </div>
      </div>

<br/>
  <div class="row justify-content-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="cancelForm()">Cancel</button>
  </div>

